[2017-01-26 23:36] franciscop opened #1 "Direction and 1.0.0"
I was going to release the first beta `1.0.0` soon but I've decided to step back and rework and improve some areas. Since 1.0.0 is a big step and I want it to be the foundation of what is to come for the foreseeable future*, it should **at least** be forward-looking:

- **Future-proof middleware**. I just like (not love) the way Express middleware works, and I think with Promises a lot more could

[2017-03-02 06:58] franciscop opened #2 "Performance"
At this stage performance is something not to worry about; however it is a future concern so this thread should work as a general guideline and plan. Server's big advantage has nothing to do with performance so as long as it's competitive performance-wise it's okay.

1. Usability >> performance.

1. Optimize only the slowest paths. No micro-optimizations that don't change the bottom line.

1. A bu

[2017-03-07 09:12] franciscop opened #3 "Sessions set-up for production"
Sessions work out of the box for developing, but they need a bit of extra work to be ready for production.

## Secret

The first thing to change is adding a [session secret](https://martinfowler.com/articles/session-secret.html) as an environment variable in `.env` for your machine:

[code]

This will be used to secure the cookies as well as for other plugins that need a secret. Make it unique, lo

[2017-03-21 17:08] franciscop opened #6 "SSL"
Add a way to specify the SSL. Example from Express.js:

https://expressjs.com/en/api.html#app.listen

[2017-04-11 18:03] franciscop opened #7 "Logging"
Include some logging plugin possibly through [Winston](https://www.npmjs.com/package/winston) or [log](https://www.npmjs.com/package/log):

[code]

Tip: if you want to help, probably a good moment to attach it is in `init` or `before` for the plugin.

[2017-04-13 09:25] hostdos opened #8 "Readme.md "Sponsor the Project" link out of date"
In the Readme.md file the "Sponsor the Project" link in the last paragraph links to a non-existent file.

[2017-04-13 09:39] franciscop commented on #8
I was just about to pass a 404 checker tool, thanks!

[2017-04-13 09:40] franciscop commented on #8
@hostdos oh, are you interested in sponsoring the project?

[2017-04-13 10:02] hostdos commented on #8
@franciscop not really, sorry :sweat_smile: I saw your HN comment and clicked around. I just hate seeing hard working people miss out on possible rewards just because a link broke ;)

[2017-04-13 10:06] franciscop commented on #8
@hostdos no problem at all :smile:

[2017-04-13 10:06] #8 closed

[2017-04-14 23:42] franciscop opened #9 "Create subdomain router"
Add a new subdomain router:

[code]

Things to take into account:

- Empty string router doesn't make sense => it'd be the same as omitting it.
- How differently should `` subdomain vs `www.` subdomain be treated? It should at least be documented.

[2017-04-14 23:43] franciscop commented on #9
Rough initial implementation:

[code]

[2017-05-07 21:30] franciscop opened #10 "Doesn't work on Windows!"
For some reason the files served with the static middleware don't load on Windows.

1. Find the bug (check absolute paths and `C://` issues).
1. Fix the bug.
1. Establish a testing methodology that involves windows as well.

[2017-05-10 07:43] Jackbennett commented on #10
This used to work fine FYI my PRs came from windows. I'm not sure exactly when it broke I've been off coding for a little while.

[2017-05-10 08:01] franciscop commented on #10
I am pretty sure I broke it :(

The problem is two-fold:

- It cannot find the correct path for the files (main problem).
- The request never ends as there's nothing to catch it nor to show the error. This should probably be handled on the final callback.

I am going to get a Windows machine ASAP, this should be fixed for next week (I'm doing a workshop).

[2017-05-10 10:40] Jackbennett commented on #10
You can get free windows VM's for browser testing by the way; https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/

[2017-05-10 16:26] franciscop commented on #10
@Jackbennett but that seems to be for Microsoft Edge testing, right? I would need a full windows machine to install Node.js, server and test it in whatever browser; the problem is in the back-end, not in the front-end.

[2017-05-11 13:24] Jackbennett commented on #10
Correct but it's just a windows VM for legitimate licensing for testing. I'm like 99% positive you can use that, load node, chrome and FF onto it, snapshot it and test all you like. Ignore that browserstack stuff you're right that's only front end.

[2017-05-11 14:16] franciscop commented on #10
I got it failing in a Windows CI so tests will be run automatically, and it seems like the static one is the only test failing (though not everything is tested): https://ci.appveyor.com/project/franciscop/server

I will look into into the link you sent, a CI is not a good place to debug things.

[2017-05-11 19:10] franciscop commented on #10
Okay, the issue [seems to come](https://ci.appveyor.com/project/franciscop/server/build/15) from environment variables. In windows there's apparently an environment variable called "public" (case insensitive), which points to `C:\\Users\\Public` and messes with all successful things.

I am waiting for confirmation on this with a real windows system instead of the CI.

[2017-05-11 20:10] #10 closed

[2017-05-12 10:00] franciscop opened #11 "Response/Reply"
Find a decent way to handle the responses for the beta, even though it won't be properly documented in the alpha there should be a canonical example. There are three main options and then combinations of them:

## A bit of magic

[code]

Pros:

- Conceptually really nice
- Follows somewhat Koa
- Simple and clear
- Final+error simple to check

Cons:

- It still needs some contextual extra methods s

[2017-05-19 22:26] jxub commented on #11
Explicit external looks like the optimum approach to me, speaking as a newb.js from a purely estetical perspective

[2017-05-27 20:13] #7 closed

[2017-05-27 23:41] #9 closed

[2017-05-28 19:27] franciscop commented on #11
On a second thought I'll leave this open until [all the methods are implemented](https://github.com/franciscop/server/blob/master/src/reply/index.js).

[2017-05-31 18:46] franciscop commented on #6
I actually thought that this was really common, but after searching for a while [1] [2] [3] [4] [5] [6] this pattern of loading the SSL through Node.js doesn't seem to be popular at all. The main reason is that the instance is behind a place and you can add the SSL straight there, as this has many added benefits.

So this is **not abandoned**, I just think it doesn't make sense to rush it through

[2017-05-31 18:46] #6 closed

[2017-06-18 16:22] #11 closed

[2017-06-21 14:05] franciscop opened #13 "React plugin"
EDIT: rethought the plugin system. Install an official plugin (those with the `@server/` prefix):

[code]

Then just use it. Any installed official package will be automatically required by server, so no need to write specific code for importing it. Then just use it however its documentation describes:

[code]

Then we would be able to have in our `app.jsx`, reading explicit and implicit variables

[2017-07-03 15:54] franciscop commented on #3
Done in https://serverjs.io/sessions-production/

[2017-07-03 15:54] #3 closed

[2017-07-12 06:20] futurist commented on #1
How this project's direction compared to [hapijs](https://hapijs.com/) ? Which also is declarative style, similar to this lib.

[2017-07-12 12:17] franciscop commented on #1
@futurist I would say from a quick glance that syntax brevity and defaults are two of the main differences. While some people like it more (it does look neat!) with everything explicitly expressed, I prefer to have defaults and then the option to modify those. The same 19 lines example from the homepage could be something like this:

[code]

Not sure about Hapi, but including Express' middleware i

[2017-07-14 19:59] joshmorel commented on #2
Hi @franciscop, I just came upon this project and am intrigued. However, can you help me understand, what exactly you mean by:

[2017-07-14 20:37] franciscop commented on #2
Ah sorry, it means that when comparing performance, `server.js` can handle only 34.7% of the requests number per second when compared with raw express.js. Main reason is that there's some extra middleware.

[2017-07-14 21:34] joshmorel commented on #2
That's what I thought, it just seemed like quite a big difference so I thought I'd ask.

But would I be correct in assuming the number of requests you were feeding express.js in this performance test was quite a lot higher than would be expected for a small or medium project (as per use cases identified in readme)?

[2017-07-14 22:41] franciscop commented on #2
Sure! There are two things:

- If you are handling hundreds of requests **per second** it's no way a small to medium project and you probably know what you are doing.

- Rarely the framework is the limit anyway. The code that you or other users write is normally much slower than the framework, this was just a quick sanity test to see that it's in the same order of magnitude than express (which it

[2017-07-18 22:29] #2 closed

[2017-07-19 18:36] franciscop opened #14 "Options for plugins"
A small exploration about how the options for plugins might look like **for a developer of a plugin**. Now I've written quite a few and have a better idea of the possibilities and limitations of them. I will be using `log` as an example. For the simple way with defaults:

[code]

There are no mandatory fields, however setting a default is strongly recommended. The last root bit would make both of

[2017-07-28 11:59] franciscop opened #15 "Redis"
Add and test Redis for session management.

[2017-07-31 09:12] b5156 opened #16 "can not log 'ctx'"
i just run :
`server({ port: 8080 }, [
  get('/abc', ctx =>{console.log(ctx)}),
]);`

but error:

 'Cannot convert a Symbol value to a string',

nodejs : v8.2.1

[2017-07-31 15:59] franciscop commented on #16
Thanks for pointing out this issue, I had seen it previously. **Could I ask what is the main reason for you doing this?** Is it finding out `ctx` properties?

If you want to know the keys you could do this until I get around fixing it:

[code]

I just also documented the properties more in-depth [on the Context documentation](https://serverjs.io/documentation/context/) (note: first draft).

I cann

[2017-08-01 17:17] grantlouisherman commented on #13
Hey francis, would you mind if I took a crack at this?

[2017-08-01 19:54] franciscop commented on #13
Hi @grantlouisherman the Plugins API is undocumented and it *will* change so **I would recommend not doing this plugin at this point**. For instance, [the options will be a large breaking change](https://github.com/franciscop/server/issues/14) from what is being done right now.

There is no estimated timeline for the 1.1, now I'm wrapping up the beta 2 for the 1.0 and there will be also a beta 3 s

[2017-10-25 14:53] franciscop commented on #16
Hi @b5156, I think this should be fixed in the Beta 3. Please upgrade and let me know whether it is fixed or not.

[2017-11-01 15:49] #16 closed

[2017-11-01 15:50] franciscop commented on #13
Done in https://github.com/franciscop/server-react

[2017-11-01 15:50] #13 closed

[2017-11-01 15:50] franciscop commented on #15
Fixed in 1

[2017-11-01 15:50] #15 closed

[2017-11-01 15:51] #1 closed

[2017-11-03 14:48] chameleonbr opened #18 "Nested Routes"
Hello, do you have plans to include "use" method on router?
This way we could create nested routes, example:

[code]
This would do the same effect as the express router, creating sub routes hierarchically.
Thanks for the project, I really enjoyed it.

[2017-11-04 08:01] franciscop commented on #18
Hi @chameleonbr , I thought about this a lot before deciding *not* making this the default behaviour of the routes. The main points:

## Predictability

The route that you see is the route that you get. It is somewhat common to see this in projects to make it more clear what is going on:

[code]

Which totally defeats the purpose of having the path automatically generated like in express. So I str

[2017-11-04 08:01] #18 closed

[2017-11-04 15:31] vorticalbox opened #20 "Unexpected token"
been following https://serverjs.io/tutorials/getting-started/

when i start the server i get

`/mnt/Documents/node/chat/node_modules/server/server.js:21
const Server = async (...middle) => {
                     ^

SyntaxError: Unexpected token (
    at createScript (vm.js:56:10)
    at Object.runInThisContext (vm.js:97:10)
    at Module._compile (module.js:542:28)
    at Object.Module._extensions

[2017-11-04 15:39] franciscop commented on #20
Hi @vorticalbox,

I thought that node would throw a more obvious error before letting you run the code since the [`package.json`](https://github.com/franciscop/server/blob/master/package.json) specifies the engine. The minimum version for server is Node 7.6, and the recommended one is the recently released LTS 8.9.0. I will leave this open until I update that guide.

[2017-11-04 15:45] #20 closed

[2017-11-04 18:32] vorticalbox commented on #20
Thea is for the heads up ill update my node.

[2017-11-05 01:25] bigtunacan opened #21 "CORS"
What is the preferred way to enable CORS using this framework?

[2017-11-05 02:09] franciscop commented on #21
[Following this express example](https://enable-cors.org/server_expressjs.html):

[code]

Cannot test it right now though, if you try it and it works please let me know!

[2017-11-05 02:12] frenchbread opened #22 "Authentication"
Hello,

Are there any approaches for authentication implemented yet? For example, something like `passport-jwt` would be nice to have.

Thanks.

[2017-11-05 02:18] franciscop commented on #21
[Alternatively](https://stackoverflow.com/a/21622564/938236), with the [cors package](https://npmjs.org/package/cors):

[code]

[2017-11-05 18:55] paulrobello opened #23 "SECURITY_HIDEPOWEREDBY=true does not seem to have any effect"
I set SECURITY_HIDEPOWEREDBY=true in my environment however  i still see powered by Express in the headers.

[2017-11-05 21:26] paulrobello commented on #23
my bad, its was a proxy issue.

[2017-11-05 21:26] #23 closed

[2017-11-06 10:38] CycoPH opened #24 "Found a problem with the env.js parsing"
On my machine (win 10, latest node) I have an environment variable that looks like this:
ConEmuArgs2=-cmdlist {cmd} -cur_console:n

The is.json test fails on this.
I think you should never do a JSON.parse outside a try catch

A simple fix is this:

[code]

[2017-11-06 13:24] klemola opened #25 "Clarify logging functionality"
Hi,

I've been testing various features of `server` today, and logging functionality puzzles me. If I just set log level via either `.env` file or via options on startup, `ctx.log.info('foo')` doesn't write anything to STDOUT.  I can produce STDOUT output by using the stream directly (`ctx.log.stream.write('foo')`). Normal `console.log` works as expected.

Is there a log file somewhere? How can I

[2017-11-06 14:45] trancenarz commented on #9
@franciscop

_Sent from my Galaxy J7 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-11-06 16:34] chameleonbr commented on #18
I understood your point of view, but we use "Router use" because we can delegate the routes that the developer can build, either in the project itself or outside (modules), when you have a bigger project this can be interesting.

In Express you can use either a middleware or a router, establishing sub routes or not, this makes it much easier to include external modules.

I hope someday there will

[2017-11-06 21:57] gka opened #26 "Every POST request returns 403/Forbidden"
Apologies if I am doing something wrong, but when I tried this simple server, POST requests always return 403/Forbidden.

[code]

If I swap the type to `get` on line 3 the request works just fine.

[code]

shouldn't this just work out of the box?

[2017-11-06 22:30] franciscop commented on #26
The POST request needs a [CSRF token](https://serverjs.io/documentation/router/#csrf-token) as explained [in the POST documentation](https://serverjs.io/documentation/router/#post-) and shown on both examples there.

A workaround if you are just testing things or you have a different kind of protection against CSRF is to disable this protection with the appropriate option:

[code]

[2017-11-06 22:32] franciscop commented on #26
Please let me know if this fixes things for you. I will leave this open until I improve the error message.

[2017-11-06 22:36] franciscop commented on #24
You are totally right, this is a big mistake. `JSON.parse()` should always be within a try/catch. I will get this fixed today.

[2017-11-06 22:44] franciscop commented on #9
@trancenarz yes?

[2017-11-06 23:13] gka commented on #26
it did fix it. thanks.

[2017-11-06 23:13] #26 closed

[2017-11-06 23:51] franciscop commented on #22
There is officially nothing. I want to experiment around for the plugins in 1.1 as I want to make an official `auth` plugin, but even the plugin specs is far away from being stable so don't expect it soon.

That being said, [`passport`](http://www.passportjs.org/) should work. Server accepts its own version of middleware by default, but if [you wrap it as explained here](https://serverjs.io/docume

[2017-11-06 23:57] #22 closed

[2017-11-07 04:16] frenchbread commented on #22
Yep, it works. Created [server.js-auth-example](https://github.com/frenchbread/server.js-auth-example) that uses JWT for authentication.

[2017-11-07 10:20] #24 closed

[2017-11-07 10:54] #25 closed

[2017-11-07 10:55] franciscop commented on #25
There was a bug introduced at some point. Should be fixed now, the reason it was not caught is because of the difficulty to test this.

[2017-11-07 10:57] franciscop commented on #25
I have added a couple of examples in the docs and one in the `examples/log`, but basically you were doing it correctly. If you update to the version `1.0.3` it should work as expected:

[code]

[2017-11-07 11:22] klemola commented on #25
Thank you! I can verify that log messages work now with `1.0.3`.

[2017-11-08 07:08] Oisrrmy opened #27 "views option not worked"
I followed the document from the website to set views option, but it not worked.
The server looked up default views path and ignore my option, is anything wrong?
This my code:

[code]

logout:

[code]

[2017-11-08 11:21] brumm opened #28 "No routing if route handler returns undefined"
Hey,

coworker and I tested this thing out on a small api server and it's working well. Nice job!
During testing, my coworker (who is not super familiar with ES6 syntax) attempted to do this:

[code]

which resulted in the server not routing to `'/'` because the handler method returned `undefined`.
We spotted the error fairly quickly and it did work in the end, but maybe server.js could warn if a

[2017-11-08 11:40] franciscop commented on #28
Interesting issue and solution. It does route to `/`, it is just that there is no reply so it goes undefined. I like your suggestion but I can see some issues, let me think about it, and thanks for the suggestion!

[2017-11-08 11:44] LeelaVenkateshK commented on #27
is someone working on this? Please let me know. I would like to try to fix this issue

[2017-11-08 17:51] vorticalbox opened #29 "internal error when adding new routes"
I Followed the chat tutorial and to learn more by expanding it, The issue I am currently having is adding new gets in this case a rules page

`
server({port: 8080},[
  get('/', ctx => render('index.html')),
  get('/rules', ctx => render('rules.html')),
  socket('connect', updateCounter),
  socket('disconnect', updateCounter),
  socket('message', sendMessage)
]);
`

in the browser gives Internal Se

[2017-11-08 22:38] ghvaldez commented on #29
Hello @vorticalbox I just completed the getting started and chat tutorial found [here](https://serverjs.io/tutorials/chat/)  I was able to the last step and run the app locally via `node .` step.  Where exactly did you run into this error?

[2017-11-08 22:47] ghvaldez commented on #29
@vorticalbox ahh I see now what you were trying to do.  Maybe I have different settings for my local install of node but I saw this error in my console.

[code]

[2017-11-09 05:41] franciscop commented on #27
Please feel free to help out here, I won't have much time until the weekend to have a go at this.

[2017-11-09 05:43] franciscop commented on #29
@vorticalbox could you share your project file structure please? Does the error happen on startup, on an specific page or on all pages?

[2017-11-09 22:34] franckstifler opened #30 "How to authenticate"
I am curious on how to authenticate using server. I don't see how to configure my session store to be mongoDB using `connect-mongo`. A tutorial on how to this will be really helpful.

[2017-11-10 01:48] franciscop commented on #30
You don't have access to the `session` that I know of, which is a known bug to be fixed. Meanwhile, you can do something like this:

[code]

You can use any express middleware by wrapping it with `server.utils.modern()`.

[2017-11-10 01:51] franciscop commented on #30
Or even easier, you could use the native server store option:

[code]

[2017-11-10 13:04] #27 closed

[2017-11-10 13:06] franciscop commented on #27
Upgrade to the `1.0.4` to get this fixed.

[2017-11-10 23:35] bodhisattva082915 opened #31 "Cannot find module 'server/test/run'"
Installed server.js and have loved it so far. Really easy to get setup and a lot of simple conveniences that you don't get from straight-up express. I'm now wanting to write a test suite, but it's looking like the test folder doesn't exist in the source files.

I installed via npm and am running at v1.0.1.
Listing the contents of the node_modules folder shows that test is missing.

`root@2f31a5645

[2017-11-11 09:47] franciscop commented on #31
I see that in the documentation I published both the Errors and Test pages. I am sorry about that, they were never meant to be published since they are not mature yet nor should have been officially launched (that is what the red points mean).

For this reason `server/test` is not published as shown in the `.npmignore`. While I could publish it, I think it'd only burden you when I change/improve i

[2017-11-11 09:47] #31 closed

[2017-11-11 09:52] franciscop commented on #30
@franckstifler please let me know if that answers your question

[2017-11-11 09:55] franckstifler commented on #30
@franciscop Let me get to my computer giving you a feedback in about 30min. I can make use of flassh messages too right?

[2017-11-11 10:58] franckstifler commented on #30
The problem persists. Using connect-mongo documentation this is how I have to require the modules: ```
const session = require('express-session');
const MongoStore = require('connect-mongo')(session);```
I suppose the session is already set into server right? How are my then to pass the session to the next line? ` const MongoStore = require('connect-mongo')(???) `

[2017-11-11 22:22] bodhisattva082915 commented on #31
I was just wanting to have the convenience of the run() method for API testing. For now I'll just roll my own suite, manually setting up the a mock server, with mocha/chai until the testing portion is production ready.

[2017-11-11 22:40] colelawrence opened #32 "TypeScript definitions"
Hi!
I was just curious if TypeScript definitions have been discussed for this project or are already available.

Thanks!

[2017-11-12 04:29] coderam opened #33 "Error in server.js"
when I test out your framework I noticed the following error with just the following in index.js:

`
// Import the library
const server = require('server');

// Answers to any request
server(ctx => 'Hello world');
`

I run "node ." on Ubuntu 16.04 and get the following error:

`
const Server = async (...middle) => {
                      ^^^
`

[2017-11-12 10:09] franciscop commented on #32
@colelawrence I am not sure what you mean, I am not a big fan of TS in general myself. Do you mean for using TypeScript within server? Or for using server within your TS project?

[2017-11-12 10:10] franciscop commented on #33
What is your Node.js version? This seems like it might be a compatibility issue, since server requires Nose.js 7.6 or above (preferably 8.x).

[2017-11-12 10:19] franciscop commented on #30
You are totally right, for this version you don't have access to `session`, which is definitely a bug. In the meantime, could you share some of your connection/startup code please? In the `connect-mongo` docs there are few examples that don't need the `session` object.

[2017-11-12 19:45] colelawrence commented on #32
Hey @franciscop !
I completely understand not liking TypeScript, I was just curious because a lot of editors use TypeScript definitions to make it easier to use other people's code (autocompletion and type checking etc) and not just for TypeScript projects, but also anyone that uses JavaScript benefits from TS definitions as well if their editor uses TypeScript to infer types and catch spelling er

[2017-11-13 00:24] coderam commented on #33
v4.2.6

[2017-11-13 01:01] franciscop commented on #33
So that is, you'd need to upgrade Node.js to be able to use server.js. I would recommend the 8.9.1. Server uses some more advanced and new features of Javascript that unfortunately are not retro-compatible.

[2017-11-13 01:01] #33 closed

[2017-11-13 01:10] franciscop commented on #32
Ah that seems pretty interesting. I don't dislike it, I just prefer plain JS but I have no problem with types and I know some times they can be really helpful.

The issue though is on focus; I would have to learn a new whole paradigm even to get started implementing this. While I agree it is useful for some people, it is so low right now in my list of priorities that it'd basically mean "never" fo

[2017-11-13 01:18] coderam opened #34 "Question on using different templating framework like nunjucks"
Thanks for this awesome framework.  It shall be as big as Django in the node family!

Quick question, if I do this:

[code]

"nunjucks.render()" and exclude your "render()" function, am I losing any kind of functionality?  It works ok, but is this the proper way?

Thanks!!

[2017-11-13 01:38] franciscop commented on #34
Yes, that is perfect. Server was designed partly for this. What you are doing is:

[code]

You *are* losing a bit of functionality though, but only if you need it. From your code, you probably need it. This is the default locals such as the CSRF token. To fix this, you could do:

[code]

This way, with the Object.assign(), you will keep the CSRF token and other view variables visible for your temp

[2017-11-13 01:44] franciscop commented on #34
Ideally you'd use an express template engine for nunjucks that would basically do that assignment thing, but I couldn't find any that was as simple as any others and all of them require a bit of initial setup that is not easy with server.js

[2017-11-13 21:15] GoldZeus opened #35 "How to send to a single client?"
Hello, I've been trying to find the correct way to emit/send a message to a single client.
I first get all the clients the socket has with:
[code]

and then I want to send ```firstMessage = 'First client';``` to ```clients[0]``` and the secondMessage to the second client.

Reading through the socket.io documentation it seem that I should have something like: ```ctx.io.sockets.socket(clients[0]).em

[2017-11-13 21:19] #35 closed

[2017-11-13 22:14] bodhisattva082915 opened #36 "server/reply/cookie =>`TypeError: option expires is invalid`"
In returning a cookie response I'm attempting to set the expiration date of the cookie. Following the express docs, options object has an expires key. Below is the code that causes the error.

[code]

[Mon Nov 13 2017 22:09:33 GMT+0000 (UTC)] WARNING There is an unhandled error:
[Mon Nov 13 2017 22:09:33 GMT+0000 (UTC)] ERROR TypeError: option expires is invalid
    at Object.serialize (/usr/app/n

[2017-11-13 22:17] #36 closed

[2017-11-13 22:20] bodhisattva082915 commented on #36
Found this issue. Was setting the cookie to expire currently. Setting the cookie to expire later fixes the issue.

[2017-11-14 06:16] franciscop commented on #36
No problem, glad you could fix it :+1:

[2017-11-14 06:17] #34 closed

[2017-11-14 17:24] michaeljota opened #37 "How to emit an event from outside the server"
Hi! I'm using Server for a small app, that should emit when a file changes. I'm using fs.watch for this, but I don't know how to emit the event. The examples that I've seen have only have response of events, but the server is never the source of one event.

[2017-11-14 17:46] michaeljota commented on #37
The `server()` promise resolves to the context object that is being used in the responses, I think. However, it does have the `io` property to emit from anywhere in the application.

[2017-11-14 17:46] #37 closed

[2017-11-15 01:10] franckstifler commented on #30
https://github.com/franckstifler/CheckAM/blob/master/index.js sorry for the late reply had to adjust some things before making a push. That is a project I am building powered by server.js.

[2017-11-15 04:45] nick-woodward opened #38 "sub fails on multi-level subdomains"
### Description

The currently implementation of `sub` joins the subdomains incorrectly
resulting in multi-level subdomains not working.

### Example

[code]

### Relevant Code

The following code should return `api.local`, however instead it returns `local.api`.

https://github.com/franciscop/server/blob/d07cfe3b236f8d667fe27432810adefcae84a88c/router/sub.js#L4

[2017-11-15 13:55] dannluciano opened #40 "Server and Nunkunks"
Hi Guys, someone can tell me how use server.js with nunjucks as template render?
I can use server.js with nunjucks using this:

[code]

or:

[code]

What is the best flow?

Thanks for your time and for this great lib.

[2017-11-18 00:46] #38 closed

[2017-11-18 00:55] franciscop commented on #38
@nick-woodward it should be published under the 1.0.5 version, thanks a lot! I added a couple of extra tests for my own code since that part was a bit neglected.

For a future version I might add a wildcard subdomain like `sub('*.api', () => { .. })` but not right now.

[2017-11-18 00:56] franciscop commented on #40
Please see this issue: https://github.com/franciscop/server/issues/34

Though I really like your second example, I will leave this open until I get a chance to unify them.

[2017-11-18 15:06] dannluciano commented on #40
Thanks for your answer .

[2017-11-20 10:54] garbin opened #41 "can I mount an express app on specific path?"
like offical documention on express http://expressjs.com/en/api.html does
[code]
If yes, How?
If no, do you have plan to support this?

[2017-11-21 13:12] franciscop commented on #41
What is the feature that you want, to be able to encapsulate a group of routes in a single app or to change the path from a single string on `.use()`? The first is easy, an *app* like that can be just an array of routes. The later is not possible and it is [a design decision explained here](https://github.com/franciscop/server/issues/18).

[2017-11-21 15:43] yeager-j opened #42 "Issues using body-parser"
I may or may not be using your express middleware function correctly, but there it is.

[code]

However I still receive this error:

[code]

[2017-11-22 00:01] franciscop commented on #42
Hey, unfortunately you are not. Body-parser is already included by default so you only need to include the options on launch, not the middleware.

It expects it as this:

[code]

I realize that this bit is not in the documentation so I'll leave this open until I get the chance to add it.

[2017-11-22 00:03] franciscop commented on #42
Same with urlencoded (`body`), see this file as reference meanwhile: https://github.com/franciscop/server/blob/master/plugins/parser/index.js

[2017-11-22 02:45] nick-woodward opened #43 "Wildcard Method Requests"
### Description

The current method implementations don't support catch-all endpoints.

### Requested Syntax

[code]

### Current Workaround

[code]

### Relevant Code

The following code doesn't support wildcards / catch-all endpoints.

https://github.com/franciscop/server/blob/dd1ad51bcd1cd80f64ff119e75edb51d3b6acbd9/router/generic.js#L21-L23

[2017-11-22 04:59] franciscop commented on #43
Wait, really? I just added two more tests just in case but both of these seem to be working properly:

[code]

An empty route will default to `*`: https://github.com/franciscop/server/blob/dd1ad51bcd1cd80f64ff119e75edb51d3b6acbd9/router/parse.js#L3

`path-to-regex-wrap` will match anything with a `*`. Please correct me if I'm wrong. I created a small example with your code and it works.

**HOWEVER

[2017-11-22 06:44] #42 closed

[2017-11-22 12:02] windysurf commented on #40
Hi Francisco, you helped me with Nunjucks in #34, thanks!!  See, there is interest, and there is even a fork in Express being added now for the Generator there to have Nunjucks support built in.

I am just a beginner with Node, but maybe better documentation for the different templating engines?  I may create a fork to try and give the documentation on your README.md file a section for different t

[2017-11-22 14:13] nick-woodward commented on #43
Thanks for the quick response!

I'm having the same issue reproducing this that you're having.
It happens within my project, but small examples don't seem tfo have the same issue.

I'll look into it further tonight to see if its user error or not.

[2017-11-22 14:22] franciscop commented on #40
I want you to be able to do:

[code]

And be done with it. For this, the work on the 1.1 has to be finished which includes a solid plugin system. I am trying to think many possible edge cases and how to do this best. Will try to share my thought process so far.

[2017-11-22 14:28] franciscop commented on #43
Sorry that last bit it is not an issue, it is a design decision. Only a single route should be invoked in the decision tree (but sub-routes are okay). This is because the response is the return value, to avoid some bugs where a reply might be attempted to be sent twice.

If you do want to do something like that, maybe this might help:

[code]

Note: I'd restructure the code a bit though to make su

[2017-11-22 15:42] nick-woodward commented on #43
Agreed, when I said I was having the same issue I was referring to not being able to reproduce it with the example I provided.

I'll follow up later with either an example that I know reproduces the issue or let you know I'm completely unable to reproduce it so you can close this issue.

[2017-11-22 16:05] nick-woodward commented on #43
Interesting, after digging in a little further I discovered that the regular expression for my project is being generated differently then on `glitch.com`.

**My Project**

[code]

**[glitch.com](https://glitch.com/edit/#!/franciscop-server-43?path=server.js:9:3)**

[code]

[2017-11-22 16:11] nick-woodward commented on #43
Attempting to upgrade my dependencies in `yarn` doesn't fix the issue.
I even went to the degree of removing my `yarn.lock` and `node_modules` and installing from scratch.

However if I install my dependencies via NPM it works fine.

[2017-11-22 16:44] nick-woodward commented on #43
So I think I have a conclusion to this issue.

### `path-to-regexp`

Some pretty prominent breaking changes were made to path matching
in 1.x and 2.x hence why [`express` is dependent on `0.1.7`](https://github.com/expressjs/express/blob/351396f971280ab79faddcf9782ea50f4e88358d/package.json#L48).

### `path-to-regexp-wrap`

This module utilizes an [asterisk for its `path-to-regexp` dependency](htt

[2017-11-23 02:59] garbin commented on #41
see https://github.com/koajs/mount

Is mount an express instance on a path possible?

eg. there is a library https://github.com/bee-queue/arena exposes an `express server`, but I don't want to run this server `standalone`, I hope this server can be mount on `/queue_admin` because it should be.

is it possible in `serverjs`?

[2017-11-23 17:51] franciscop commented on #41
Hi @garbin , no it is not possible with `server` [as explained here](https://github.com/franciscop/server/issues/18). In the library https://github.com/bee-queue/arena that you linked there is an option to set the `basePath` though.

[2017-11-23 17:51] #41 closed

[2017-11-23 17:57] franciscop commented on #43
Woah this looks like a really nasty bug of `yarn`/`npm`, specifically `yarn` working differently. I am not even sure how to start fixing this on my end, but I guess migrating manually to https://github.com/pillarjs/path-to-regexp would be the best considering [how small path-to-regexp-wrap is](https://github.com/teologov/path-to-regexp-wrap/blob/master/index.js).

[2017-11-23 18:01] franciscop commented on #43
@teologov you might be interested in this issue

[2017-11-23 20:30] teologov commented on #43
Hi guys. Yes, I should probably consider to remove the asterisk and migrate the module to version 2.x

[2017-11-23 20:33] ALyman commented on #32
I have started the process to get types up on the DefinitelyTyped registry.

I have a [PR](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/21713) for the "loadware" package that server depends on already up, and a [branch](https://github.com/ALyman/DefinitelyTyped/tree/server) that depends on that with the server types, which I'll upload as soon as the loadware PR lands.

[2017-11-24 23:57] Cinamonas opened #44 "Replying from middleware"
I was implementing a validation middleware that replies with status code `400` and an error message when request body is invalid, but quickly saw that replying from middleware does not prevent the rest of the pipeline from executing.

Which results in an error:
[code]

A minimal code displaying this behavior:
[code]

Is this by design?

I also tried throwing an error from middleware after setting

[2017-11-25 00:50] franciscop commented on #44
Replying from middleware *should not* prevent the rest of the pipeline to execute. This is because you might want to do some clean up later on, and have to allow to process more middleware.

What are exclusive is the router. You can do this:

[code]

And only the first one will be executed. Routes are exclusive, but middleware cannot change the execution of other middleware later on.

Now, there a

[2017-11-25 09:59] Cinamonas commented on #44
@franciscop, your reasoning makes sense, but like you said – it would be great to be able not to send the reply if the headers are already set.

Regarding throwing the error, this does bypass the rest of the pipeline:
[code]

But then the thrown error is reported as unhandled:
[code]

So I work around this right now with my own helper:

[code]

[2017-11-26 08:58] teologov commented on #43
Please, see https://github.com/teologov/path-to-regexp-wrap/pull/3

[2017-11-26 09:39] franciscop commented on #44
TL;DR: **See the [example bug44](https://github.com/franciscop/server/tree/master/examples/bug44)** that I just added to see how I'd do what you are doing with server.

"There is an unhandled error" is part of server, I am making sure it is more clear now. About your code, I think a better way of handling these kind of situations would be to make an error handler that gets all of the failed parts.

[2017-11-26 09:53] franciscop commented on #43
I see this as two issues:

1. Right now installation is broken. npm and yarn will install things differently, so this has to be fixed ASAP. It is the number 1 priority right now for server.
2. Update the path-to-regexp version. This, the same as with express, is a breaking change so it won't be likely until 2.0. The 2.0 version is quite far away, with the 1.1 being another big release considering

[2017-11-26 10:07] franciscop commented on #43
I upgraded server to 1.0.7, please @nick-woodward let me know if this fixes the issue for you. I fixed the `path-to-regexp` version and hardcoded `path-to-regexp-wrap`. So it should install the right version and work as expected with both yarn and npm.

For version `2.0` of server I don't know if we will depend on express or not; if we do, it'll be very likely `5.0`. I close this as I am really no

[2017-11-26 10:07] #43 closed

[2017-11-26 10:49] franciscop commented on #44
I made the warning and error messages a lot more verbose as well, please let me know if this is a good fix for your case or if you have any other question (related or unrelated to this).

[2017-11-26 10:49] #44 closed

[2017-11-26 10:51] franciscop commented on #28
I made the error message a lot more verbose in `1.0.9`, see [this commit](https://github.com/franciscop/server/commit/6d1fa391f6cbf16d12dfd92c37b3ade1d9c43f22). Please let me know if you think the changes are enough or not and if the message is clear enough.

[2017-11-26 10:54] franciscop commented on #21
From the amount of likes it seems like cors package works properly. The code I pasted manually also seems to be setting the headers properly, so I'll close this as fixed.

[2017-11-26 10:54] #21 closed

[2017-11-26 10:59] franciscop commented on #30
Did you try the snippet above?

[code]

Seems like you are using mongoose already from your project so you should be able to do that. You even have that [in line 23](https://github.com/franckstifler/CheckAM/blob/master/index.js#L23) (but it is commented):

[code]

Does that work? The line 4 in that situation should be like this:

[code]

[2017-11-26 12:00] franciscop opened #45 "Plugins"
Here comes the big one, plugins. First, a wish list. I'd like for a plugin to have this API available:

[code]

Now, I am not 100% it makes sense to open `router` and `reply` right now. I think there are some situations where it'd be really useful, like sending a PDF back for example:

[code]

But there are many options here and doing it one way might limit some other options. So my first question

[2017-11-26 13:29] brumm commented on #28
Lookin good! I'll give it a shot tomorrow. Thanks for your work!

[2017-11-26 15:07] teologov commented on #43
@franciscop I can deliver a specific `1.x` version of `path-to-regexp-wrap` with `path-to-regexp` of version `0.1.7`, so you could rely on it.

Please, let me know if this works for you.

[2017-11-26 15:54] teologov commented on #43
@franciscop I also published `v1.2.0` with `path-to-regexp@0.1.7`. Hopefully, [it](https://github.com/teologov/path-to-regexp-wrap/blob/v-1/package.json#L24) works for you.

[2017-11-27 11:23] Sifawm commented on #32
@ALyman, first of all thanks.

In your type definitions there are not definition for the function **socket** inside _server/router_.

Another thing that i have been able to check with my project is that this .d.ts dont leave export functions as:

[code]

Same with functions inside _server/reply_.
If you like I can send a PR to your repo.

[2017-11-27 16:32] justincy opened #46 "Returning a status code with an empty body"
I want a specific route to return a 200 with an empty body. I've tried these two methods:

[code]

[code]

They both work in that they return a 200 response but the body isn't empty (a default body of "OK" is returned) and they still trigger the "Your middleware did not return anything to the user." error that gets printed to the console.

How can I return an empty body without triggering the erro

[2017-11-27 16:49] nick-woodward commented on #43
@franciscop Sorry for not getting back sooner.

That did indeed fix my issue. Thanks!

[2017-11-28 03:47] franciscop commented on #46
The printing is completely true and should be fixed. It is a bug right now, I'll fix it ASAP.

The response body to the browser I am not sure whether it is a default HTTP thing or an espress thing. I'll have to dig deeper into this.

[2017-11-29 10:56] franckstifler commented on #30
In deed I tried. The problem is actually in [line 4](https://github.com/franckstifler/CheckAM/blob/master/index.js#L4) because you must init connect-mongo with a session.

[2017-11-29 11:40] franciscop commented on #30
You can skip it in line 4 and just load it without `(session)`, did you try that as well?

[code]

[2017-11-30 03:33] ALyman commented on #32
@Sifawm: Huh, weird, looks like I forgot to commit & push the add for socket, I have gone and pushed [what I have for that](https://github.com/ALyman/DefinitelyTyped/commit/6766d05772bde00ecfcfe1ed96f0162c320210c4).

I would love to see a PR for server/router and server/reply -- I managed to forget that those exist, because I'm only using the ones hanging off as server.router and server.reply in m

[2017-11-30 10:32] henninghorn opened #48 "Best way to emit socket.io events not triggered by a request"
I've read the [real-time tutorial](https://serverjs.io/tutorials/chat/) and I've build my own with absolute no problems at all.

But I'm unsure about how to emit events through socket.io that isn't triggered by a request, unlike in the chat tutorial.

Currently I'm trying to figure out how to emit tweets as they come in via the [twit package](https://www.npmjs.com/package/twit).

What is the best

[2017-11-30 10:48] franciscop commented on #48
I see the issue. I think it'd be easier when the server is launched as you get access to io:

[code]

The whole `server()` will give back a promise that will resolve when the server is launched and listening. Note that this context (might as well be called `instance`) has a much smaller API and will add some properties through the plugins, but not all since it is not in any request path. `.io` [ge

[2017-11-30 10:54] franciscop commented on #37
Exactly, this is similar to this issue: https://github.com/franciscop/server/issues/48

[2017-11-30 13:47] michaeljota commented on #48
As I post in #37, the object returned from the resolved server promise have a `io` property that you could use to send message from anywhere.

[2017-12-01 10:27] windysurf commented on #40
@franciscop this would be really great because the Django community is special and people desire Node because of speed.  My schizofrenic attempt at Nunjucks for Express is here: https://github.com/expressjs/generator/issues/156#issuecomment-348456686

your method of installation using @server/nunjucks is far greater than the express generator.

[2017-12-01 10:28] windysurf commented on #40
using [at]server/nunjucks

[2017-12-03 05:16] franciscop commented on #46
Hi @justincy , this should be fixed by now. Please let me know if that works for you. I fixed both of the issues, the printing should be gone and answering with a status code just sends the status with an empty body.

[2017-12-03 05:18] franciscop commented on #28
Can I consider this fixed, @brumm ? Do you have any other question/suggestion?

[2017-12-03 11:48] henninghorn commented on #48
Thank you for the quick response, @franciscop

I hadn't read about the promise returned by `server`.
I think this approach is good. Between the two solutions you proposed, I would go for special `once` route approach.

Once a again, thank you for your quick response. Keep up the great work on this project!

[2017-12-03 11:48] #48 closed

[2017-12-04 09:37] GeKorm opened #50 "Provide a changelog"
### Description
A changelog would be very useful when deciding whether to upgrade this package. Even something automated like [changelog-maker](https://github.com/nodejs/changelog-maker) ([example](https://github.com/nodejs/node/releases)) would be good enough. I find it forces me to write better git messages anyway.

### Expected outcome
A list of changes or short description for every version, i

[2017-12-04 12:19] michaeljota commented on #48
I think that's not on the docs yet. You just have to digg a little in the code. (Documented, well written)

[2017-12-04 16:04] justincy commented on #46
Thanks for foxing it. However I ended up using something else so I'm able to test whether the changes worked. Sorry.

[2017-12-04 16:06] franciscop commented on #46
Sure, no problem.

[2017-12-04 16:06] #46 closed

[2017-12-06 01:41] #28 closed

[2017-12-06 01:47] franciscop commented on #40
I close this until plugins are done and ready to be used since the issue itself seems closed.

[2017-12-06 01:47] #40 closed

[2017-12-06 03:46] franciscop commented on #50
I agree. Just never set to it, but with an automatic tool it should be easier. Would properly tagging the versions in Github be of any help? Or is a changelog strongly preferred?

[2017-12-07 12:34] Greed1323 opened #51 "CORS"
Hi, i try to call my server with an another port, but i'm blocked by cross-origin security. And in documentation, i don't find a reference to cors.
I know resolve this issue on express:
https://enable-cors.org/server_expressjs.html

How can i resolve it on serverjs ?

thx.

[2017-12-07 12:42] Greed1323 commented on #51
Sorry, i don't seen the reply https://github.com/franciscop/server/issues/21

[2017-12-24 08:27] guruprasaad123 opened #52 "unable to send response for post request"
Am using using [vue-resource](https://github.com/pagekit/vue-resource/blob/develop/docs/http.md) to send the post request to server.here's the code I used to send the post request.
[code]
And the data is received successfully ,but am I unable to send the response here's how i did this.
[code]
As for the proof that I have received the data sucessfully ,( **) as logged in the above code.I got this o

[2017-12-24 12:34] guruprasaad123 opened #53 "using csuf middle in server.js"
I trying to use [csurf](https://github.com/expressjs/csurf) as middleware in server.js , as mentioned in [docs](https://serverjs.io/documentation/#express-middleware) the code i tried.
[code]
the Error am getting...
[code]

[2017-12-24 13:46] franciscop commented on #53
The options should always come first, before any middleware. That is the error you are getting.

Also, csurf is already invluded by default. You can pass the appropriate options, as seen in the security documentation: https://serverjs.io/documentation/options/#security

[2017-12-24 13:50] franciscop commented on #52
You should send the CSRF token in your POST request. See the [corresponding documentation](https://serverjs.io/documentation/router/#csrf-token) for the POST requests with CSRF. You want to set the header `'csrf-token'` to the current csrf token, which can be obtained in different ways.

[2017-12-24 13:50] #52 closed

[2017-12-24 14:46] guruprasaad123 commented on #52
yes ,you are right ? that resolved the Issue thanks @franciscop

[2017-12-24 14:53] guruprasaad123 commented on #53
thanks , But I want to use **node-sass-middleware** as middleware how do I , I have tried this code.
[code]
for this too am getting the below mentioned _Error_.
[code]

[2017-12-24 15:24] franciscop commented on #52
Perfect, the error is not too clear but it is just a CSRF issue.

[2017-12-24 15:24] franciscop commented on #53
As I said, *The options should always come first, before any middleware*. This means when launching `server()` you should set this order:

[code]

So your full script would be something like this:

[code]

[2017-12-24 15:27] guruprasaad123 commented on #53
thanks, that worked !

[2017-12-24 15:27] #53 closed

[2017-12-24 16:10] franciscop commented on #53
It is [a bit above that](https://serverjs.io/documentation/#basic-usage): *The main function accepts first an optional object for the options, and then as many middleware or arrays of middleware as wanted*.

Also in [the options documentation](https://serverjs.io/documentation/options/#argument) in bold: *The alternative to the environment variables is to pass them **as the first argument** when c

[2017-12-24 16:55] guruprasaad123 commented on #53
I have quickly read the _docs_, so I did'nt notice it sorry. Maybe ,combining the both Examples and showing a  _preview_  will help us visually see and understand the feature at Ease and quickly.

[2017-12-28 20:18] mariusk commented on #30
I believe I am struggling with the exact same issues wrt `connect-pg-simple`, and until the interfaces are cleared up I would suggest downplaying the Express session / middleware compatibility features a notch. Alternatively, improve the docs on how it should be done (no, I haven't figured it out unfortunately). It seems the pattern with initializing a store with a session object is pretty common.

[2017-12-28 20:22] franckstifler commented on #30
In deed I loaded without session but it wont work, complaining that it needs a store.

[2017-12-29 00:12] georgemandis commented on #50
My vote would be for a proper chaneglog. The automated one that @GeKorm pointed to would be a fine start.

[2017-12-29 00:37] georgemandis opened #54 "Body parser limit ignored"
### Description

I'm trying to increase the limit for a form post from 100kb to 1mb, [per the example in the documentation](https://serverjs.io/documentation/options/#parse). In my project I have a hidden field that contains approximately 300kb of data that needs to be posted to the server.  The size of this hidden field varies from product to product and is generally in the 60-90kb range, but a f

[2017-12-29 00:46] georgemandis commented on #54
After all of that I realized I never tried to use the Text parser:

`text: { limit: '1mb' }`

That fixed it. It didn't dawn on me the request wasn't coming from a form.

Nevermind!

[2017-12-29 00:46] #54 closed

[2017-12-29 23:30] paulrobello opened #55 "Access ctx.session from websocket?"
Is there any way to access the ctx.session object from a websocket handler callback?

[code]

[2017-12-30 09:02] franciscop commented on #55
No that I know of right now. This is a legitimate bug/new-feature.

[2017-12-30 19:03] paulrobello commented on #55
If it helps, ctx.socket.handshake.headers.cookie gets you access to the cookie info to get the sid.
Is there socket related middleware?

[2017-12-30 21:07] franciscop commented on #55
Yes, it looks like this should fix it:

https://stackoverflow.com/questions/25532692/how-to-share-sessions-with-socket-io-1-x-and-express-4-x

Now, for this we should fix this one first: https://github.com/franciscop/server/issues/30

[2017-12-31 02:51] paulrobello commented on #55
I have shared sessions works using the following....

'use strict';

require('dotenv').config();
const uuid = require('uuid/v4');
const server = require('server');
const {modern} = server.utils;
const {get, socket, error} = server.router;
const {render, status, header} = server.reply;

const expSession = require('express-session');
const RedisStore = require('connect-redis')(expSession);

const re

[2018-01-01 03:28] franciscop commented on #30
What about something like this? I think it should work properly now:

[code]

It should be available in the latest `server@1.0.14` that was just released, please let me know what you think about this approach works for you or any other feedback!

[2018-01-01 04:15] franciscop commented on #50
Reference just in case:

1.0.15 - Added session to the sockets. Fixed test and docs for jsonp.
1.0.14 - Session variable inside server `server.session` for initializing some stores and others.
1.0.13 - Make sure that the error always has an error code, even when empty. Used for matching.

[2018-01-01 04:30] franciscop commented on #55
That is a really long piece of code. Server is supposed to do many of the things that you are making manually. The latest release 1.0.15 should have `ctx.session` available within `socket()` callbacks. [See full working example](https://github.com/franciscop/server/blob/master/examples/websocket/index.js):

[code]

[2018-01-01 04:30] #55 closed

[2018-01-01 08:23] franciscop commented on #32
Any update on this? @ALyman could you fix the socket one? Did anyone get the router/reply done?

Finally, would some docs on the website make sense or is this something that will happen automatically for those using Typescript?

[2018-01-01 09:42] franciscop commented on #51
It is documented here now: [CORS](http://localhost:3000/documentation/#cors).  Thanks for oppening the issue!

[2018-01-01 09:42] #51 closed

[2018-01-01 10:49] franciscop commented on #50
Working on this here: https://github.com/franciscop/server/releases

[2018-01-06 13:04] Sifawm commented on #32
I am working with the @ALyman definitions to add the correct definitions to import server/reply and server/router directly.

And he add the definitions to socket already. https://github.com/ALyman/DefinitelyTyped/blob/6766d05772bde00ecfcfe1ed96f0162c320210c4/types/server/index.d.ts#L118

[2018-01-09 13:33] franciscop opened #56 "Added documentation search!"
Hi everyone! I have added a new feature that I am sure many were missing: **search the Docs**.

It will search through the main title first and then the body of each docs. The body could be improved a bit more, but I am really happy with how it works right now. Give it a try! It adds `100kb` to the page load for full documentation search: pretty sweet IMHO.

Example:

![notifications](https://user

[2018-01-09 14:03] franciscop commented on #56
Edit: removed the small jump, make sure to CTRL+F5 to see the changes

[2018-01-12 06:42] MiYogurt opened #57 "about express use method need a path arguments sample"
the express sample

[code]

I try in my router.js

[code]

[code]

how to write the sample code if i use server.js ?

[2018-01-12 14:17] franciscop commented on #57
Interesting issue, the `sub()` router is for subdomains, not for routes mounting points. AFAIK there is no really a native way of doing this with server.js and this is the first time I see a compelling reason for adding it. What you do you'd have to request `https://db.example.com/` (after also configuring the DNS for that).

Will probably come with the 1.1 as `use()`, but so far you can use this

[2018-01-13 00:05] paulrobello opened #58 "http request method OPTIONS"
I am trying to get an ajax post from a browser to work and its getting a 404 back when its sends the preflight OPTIONS check.
I don't see anything document on OPTIONS request types.
I have the post route defined. and it works if there is no preflight-check.

[2018-01-13 06:01] franciscop commented on #58
Hi Paul, I see that [you are doing the CORS manually](https://github.com/franciscop/server/issues/55#issuecomment-354581929). If you use the `cors` package it will take care of the preflight automatically, so [I'd recommend using `cors()`](https://serverjs.io/documentation/#cors):

[code]

Otherwise, and based [on this SO answer](https://stackoverflow.com/a/46028619/938236), you could do:

[code]

[2018-01-13 06:10] franciscop commented on #58
BTW, do you want to do a video/screensharing call? I can help you fix any issues that you might be facing with server.js or Node.js in general, and at the same time learn more about how other devs like you are using server.js (which will also help me improve it).

[2018-01-13 08:37] MiYogurt commented on #57
my code is

[code]

it does not work.

[code]

if i use express sample code ，everything it is ok ，does not need to do any more thing。 i think it's must have some Compatibility problem。

i am give up use express-pouchdb

[code]

[2018-01-13 08:47] #57 closed

[2018-01-13 08:54] franciscop commented on #57
My mistake, please try with this:

[code]

We are injecting it to express already, so no need to return it since it would be called again. I think that is what the error `'Replicator already active on this database.'` might mean.

[2018-01-14 01:30] paulrobello commented on #58
Using the cors package fixed my issue. Once again thank you for your help.
My project is a link / bookmark sharing website that supports real time updates using websockets and rethinkdb change feeds. It also has a corresponding chrome plugin for easy link sharing.
I would me more than happy to screen / code share.
It is still very alpha as I am still feeling out how I ultimately want to build out

[2018-01-14 01:30] #58 closed

[2018-01-14 05:30] paulrobello opened #59 "Best way to determin if request is from normal HTTP or Socket?"
I have have a single function that that i use for both http POST and websocket event.
I was wondering what the best / cleanest way is to determine if the request is coming from the post or the socket handler?

[2018-01-14 16:01] franciscop commented on #59
Interesting, I tried to make server to avoid needing this as much as possible. `ctx.data` should be the same, but with POST you will have `ctx.method === 'POST'` while with socket you don't have anything there (but will be `SOCKET` in 1.1). So the cleanest way is checking if the method is `POST`, I think this is the better way.

[code]

[2018-01-14 16:01] #59 closed

[2018-01-14 16:03] franciscop commented on #59
Note: I can think of at least 3 more ways, but I think this is the cleanest. Please let me know if this doesn't work.

Also, similar to front-end and depending why you want to know, you might think of it in a *feature-detection* way: `if (hasFeatureIWant()) {} else {}`

[2018-01-14 22:16] #56 closed

[2018-01-16 15:38] franciscop opened #60 "Added `options` to a plugin options schem"
In this way we can specify the schema of a sub-object in the plugins:

[code]

Then when using the plugin it will be like this:

[code]

But of course for this specific example you'd use the .env:

[code]

[2018-01-16 15:38] #60 closed

[2018-01-17 13:29] #50 closed

[2018-01-18 10:08] cloud-walker opened #61 "How to access the server listener to handle server autoreload?"
Hi, I work with webpack and universal applications, and my express server is hot reloaded by webpack during development, I'm wondering how I can achieve the same feature using `server`.

This is my entry server file:
[code]

As you can see I can use http module to create a server and manipulate the listeners to swap the express application on the fly during development.

[2018-01-18 11:24] franciscop commented on #61
I have never seen anything like this. Would something like this work?

[code]

[2018-01-18 19:02] cloud-walker commented on #61
I will try out ASAP and I will tell you, thank you!

[2018-01-19 16:26] vorticalbox opened #62 "Handle 404 errors"
### Description

Currently you need to define each router to added 404 errors
`
get(ctx => status(404))
post(ctx => status(404)
put(ctx => status(404)
`

### Expected outcome

If the request going to an undefined route return 404 status

### Actual outcome

500 internal error

### System Information

**OS:** Windows 10

**Node Version:** v8.9.3

[2018-01-20 02:39] franciscop opened #63 "socket() for server.js"
Checklist (progress on branch `plugins`):

- [x] Reworked request workflow to use `SOCKET` method
- [ ] Add options for `io()`
- [x] Handles no path as `*`
- [x] Multiple middleware
- [x] Defaults to emiting with the same name if you return anything

Thanks @paulrobello for showing me how you are using websockets and the struggle right now with server.js

The socket implementation is quite poor ri

[2018-01-20 02:44] franciscop commented on #62
It should be returning a `404` if nothing was matched [from the `final` plugin](https://github.com/franciscop/server/blob/master/plugins/final/index.js#L11):

[code]

A 500 sounds like something else is failing and the [error handler is being called](https://github.com/franciscop/server/blob/master/plugins/final/index.js#L21). Could you share more information please? If you write this in the end,

[2018-01-22 06:54] cloud-walker commented on #61
Hi, playing with your proposal I end up with a "working" version:

[code]

But I'm not sure about memory leaks: I close the server instance, and "replaying" the same promise again every time I make a change on the middleware code 🤔

Its ok? Or maybe I have to clean up something?

[2018-01-22 09:55] vorticalbox commented on #62
Ok I just noticed it throws 404 status back to postman sorry. could we get a server option added something like

`{
    404: {
        //return a json message on 404
        json: {message: '404 rpute not found'},
        //return a page
        page: './views/404.pug'
    }
}`

only one can be used, this would allow for custom messages or pages with the 404 without as I did in the OP catching eve

[2018-01-23 11:07] franciscop commented on #61
It looks like it's going to leak memory, but for production you don't need the hot module reloading, do you?

[code]

[code]

Tip: you do not need `{ port: process.env.PORT }`, [this is the behaviour by default](https://serverjs.io/documentation/options/#port).

Of course the ideal would be fixing the leaks. But since you will be taking breaks hopefully at least once daily, it is probably fine to

[2018-01-23 11:07] #61 closed

[2018-01-23 22:30] LoickVirot opened #64 ".slice() of undefined when I am throwing an error"
### Description

I got an unhandled error when I try to throw an error into a middlewareto manage it with the router ` error()`.

### Expected outcome
In this example, I expected this into my console
[code]

### Actual outcome

Here is my code, inspired from the documentation :
[code]

And my console :
[code]
BUT, if I don't try to get only 'user' errors, there is no problems :
[code]
[code]

###

[2018-01-24 10:14] franciscop commented on #64
If you update to 1.0.13 that error should not happen anymore as @SidneyNemzer pointed. However, the documentation was outdated (just updated it!), it should be `error.code = 'user'` instead of `error.name = 'user'`:

[code]

Reference:

- [**Created bug demo**](https://github.com/franciscop/server/tree/master/examples/bug64) and confirmed the bug: change the `code` for `name` in the demo and it do

[2018-01-24 10:16] franciscop commented on #64
Note that I'm doing some work on [the whole error handling](https://github.com/franciscop/server/tree/master/error) (ignore that README.md though), but still need to test it quite a bit more before it's ready for production.

[2018-01-24 10:22] #64 closed

[2018-01-24 10:30] franciscop commented on #62
My answer was never sent (and actually lost!), sorry. So, instead of the proposed option, you can do this now:

[code]

It is similar in amount of code but you don't need to learn a new option for error messages. This has the advantage that you can choose the response type easily. Just `json` in your proposed context would be ambiguous, since it could mean:

- The request was made with AJAX, so it

[2018-01-24 10:30] #62 closed

[2018-01-24 10:32] franciscop commented on #62
About it logging a 500, it is only in the console since this is the default error status, in the browser it should be a 404 as you found out. I have it fixed in my code, will be packed in the next minor dev version.

[2018-01-24 16:32] brumm commented on #63
Hey there,

I noticed this issue when I went spelunking for a little issue I'm having right now while attempting to use the (I know, unreleased) websocket plugin right now.

In my case, our server is unable to mount on '/' as per policy. All serverjs router handlers are used like so `get('/backend/foo', fn)`.

However, I can't do that for socketIO because the implementation is hidden in a plugin,

[2018-01-24 17:38] LoickVirot commented on #64
I'll try that. Thank you very much ;)

[2018-01-24 22:15] franciscop commented on #63
Very good point @brumm, this can and should be added as another option like any other plugin:

[code]

Internally that object will then be passed to the second parameter of `io()`.

About the basePath, there is no option defined now nor will likely be. However I am considering this, might this work?

[code]

This would allow a certain amount of routes (or all in your situation) to be mounted on `/

[2018-01-24 22:23] franciscop commented on #64
Thank you, please let me know if it doesn't work. I closed this since I could reproduce and fix the issue locally, if it is not fixed for you feel free to reopen, add a comment or open a new issue.

[2018-01-26 17:56] franckstifler commented on #30
Sorry for the delay. Testing right a way and giving you a feedback.

[2018-01-26 18:25] franckstifler commented on #30
Good it works like charm now.

[2018-01-26 18:25] #30 closed

[2018-01-26 19:03] franciscop commented on #30
Glad to hear! And thanks for the feedback 😇

[2018-01-26 19:23] franckstifler commented on #30
Sure I can continue to work on my project. Think of creating a tutorial for that in the docs. I think it is very important.

[2018-01-27 00:15] franciscop commented on #30
I did add it to [the documentation for session stores](https://serverjs.io/documentation/options/#session-stores), but I should add it to the Sessions in Production tutorial as well.

[2018-01-27 05:11] franciscop opened #65 "Routes for plugins"
I have long been wondering whether the routes and reply should be extensible. There are advantages and disadvantages to this.

On one hand, we can stick to more traditional requests workflow: get, post, put, delete and socket seem like a really good scope.

But then, if you think about plugins and the possibilities there is so much more we can do and make a nice abstraction layer.

For example, le

[2018-01-27 10:40] brumm commented on #63
Awesome! I'd love to be able to pass options to socketIO.

The basePath thing would really just be for convenience, and I agree that explicit is usually nicer. `mount()` would be a nice shortcut, but please don't feel like you should add more code just for my single use case.

[2018-01-27 19:47] adrian2x opened #66 "Clustering & worker nodes"
### Description

No docs on how to load balance or cluster or run parallel processes?

### Expected outcome

Docs should exist

### Actual outcome

!Docs

**Node Version:** v8.9.1

**Server.js Version:** 1.0.14

[2018-01-28 03:22] franciscop commented on #66
I agree, unfortunately it is not a priority right now or even for the whole 1.x cycle. I plan to address it on the 2.x. The key qhote is [in the Advanced documentation](https://serverjs.io/documentation/#advanced-topics):

Feel free to open a PR adding some docs though! They'd fit either in the tutorials or in the main Documentation README as a new section.

[2018-01-28 03:22] #66 closed

[2018-01-28 03:22] franciscop commented on #66
I agree, unfortunately it is not a priority right now or even for the whole 1.x cycle. I plan to address it on the 2.x. The key qhote is [in the Advanced documentation](https://serverjs.io/documentation/#advanced-topics):

Feel free to open a PR adding some docs though! They'd fit either in the tutorials or in the main Documentation README as a new section.

[2018-01-28 08:16] #14 closed

[2018-01-28 08:16] #45 closed

[2018-01-28 08:16] #65 closed

[2018-01-28 08:17] franciscop commented on #65
These docs have been moved [to the official documentation](https://serverjs.io/documentation/plugins/).

[2018-01-28 08:18] franciscop commented on #14
These docs have been moved [to the official documentation](https://serverjs.io/documentation/plugins/).

[2018-01-28 08:18] franciscop commented on #45
These docs have been moved [to the official documentation](https://serverjs.io/documentation/plugins/).

[2018-01-28 09:17] franciscop commented on #63
This should be available in the branch `plugins`. Unfortunately I want to wait until bundling it with the `1.1` version, so it is not ready yet. I have published it under the `1.1.0-alpha.1` version if you want to play around with the options for socket:

[code]

[code]

If you find any bug please let me know! These options [should be the same as in the official socket.io documentation](https://so

[2018-01-28 09:18] #63 closed

[2018-01-28 13:17] brumm commented on #63
Fantastic, thank you a lot! I'll give this a try.

[2018-02-04 12:19] karneaud opened #67 "Support for pugs"
No bugs yet but was wondering if there was support for PugJS instead of Handlebars?

[2018-02-04 12:38] #67 closed

[2018-02-05 01:39] karneaud opened #68 "Hot Module Reload?"
I'm trying to use this package in development mode but not sure how to integrate web pack or HMR into it. Does your package support hot reload?

[2018-02-05 02:24] SidneyNemzer commented on #68
There's been some discussion about HMR in #61

[2018-02-05 09:54] karneaud opened #69 "Unable to access index.pug route"
### Description

The server stalls when accessing the intended route

### Expected outcome

Server response with html page

### Actual outcome

Server outputs "Hello world" with the following route

`server({},ctx => "Hello World")`
Server stall when accessing

`server({}, [ get('/', () => render('index.pug'))])`
### Live Demo

Code

[code]

### System Information

**OS:**  Docker

**Node Version:

[2018-02-05 10:05] karneaud commented on #69
found out my views folder was not referenced properly

[2018-02-05 12:53] karneaud opened #70 "Issues with Jest Unit testing"
### Description

Router fails to load during unit testing

### Expected outcome

`jest --coverage`

seems to stall

### Actual outcome

test script should run and conclude tests

### Live Demo

package.json
[code]

tests/server.tests.js
[code]

`npm test`

results

stalls here. If I remove `require('server')` I get

not sure what I am doing wrong here..........what can you advise?

### System Info

[2018-02-05 13:12] franciscop commented on #70
You only have those lines in your whole test?

[code]

Strange that if fails, for me the same code passes without an issue:

![pass](https://user-images.githubusercontent.com/2801252/35806018-683160e6-0ac1-11e8-9abd-8d092101da70.png)

If you were actually launching the server I'd have a couple of tips, but just failing at requiring it is pretty strange. Could you provide more context? Also, what h

[2018-02-05 13:13] franciscop commented on #69
It should throw a pretty clear error in that situation, I am reopening this until the error is clear.

[2018-02-06 00:35] karneaud commented on #69
Its ok...needed to adjust my folder structure.

[2018-02-06 00:35] #69 closed

[2018-02-06 00:36] karneaud commented on #70
Apparently jasmine was the culprit. Had to remove and re-install for some reason. *shrugs*

[2018-02-06 00:36] #70 closed

[2018-02-06 01:26] karneaud opened #71 "Restarting server on changes"
### Description

Is there anyway to start/ stop/ restart the server during test?

### Expected outcome

to start separate server to run jasmine tests then stop the server after test complete

### Actual outcome

Not sure how to stop server other than usual `CTRL + C` command

[2018-02-06 03:58] SidneyNemzer commented on #71
Good question, I actually was wondering about this myself. I don't think it's in the documentation at the moment.

I did discover that there's a `close` function on the `ctx` object from the main function:

[code]

@franciscop I would be great if this `close` function was documented!

[2018-02-06 07:12] franciscop commented on #71
**To answer your questions**, yes there is as @SidneyNemzer mentioned. However **this is not a production-ready method and might change in the future**, so please use with care (note: it will probably not change, but only the documented API should be considered stable).

However please note that `close()` will return a callback:

[code]

***

# Testing in server.js

The main problem is that you ca

[2018-02-06 07:14] franciscop commented on #68
Yes, please look into https://github.com/franciscop/server/issues/61. What do you intend to use for HMR? Webpack?

[2018-02-06 11:18] karneaud commented on #68
@franciscop  @SidneyNemzer  correct. Looked at the topic and I have a vague understanding as to what you guys did. Care to explain by example?

[2018-02-06 11:22] karneaud commented on #71
Cool. Since I'm using web pack I'm looking at some alternatives using node request package and nodemon. kind of heavy but i'm not familiar with your software at the moment to see anything else that could be done.

[2018-02-06 11:45] franciscop commented on #71
Sure, that should work:

[code]

[2018-02-06 11:45] franciscop commented on #71
Sure, that should work:

[code]

[2018-02-06 11:45] #71 closed

[2018-02-06 23:32] franciscop commented on #68
server.js does not have HMR natively, but with the code on #61 you might be able to work your way through. Unfortunately I don't know about HMR, I just improved the code in that issue slightly to fit server.js api better so you'll have to work on this. Feel free to ask for more specific issues, file bugs, look [at the documentation](https://serverjs.io/documentation) or ask a question on StackOver

[2018-02-06 23:32] #68 closed

[2018-02-14 01:14] paulrobello opened #72 "Server is not setting session cookies"
Running latest from npm I have a simple GET route and the server response does not contain any cookies.
The next weird part is. Since the browser gets no cookie its not sending any cookie, however I have a simple visit counter setup in the session and it appears to increment with each visit regardless of using multiple browsers.
The server seems to be keeping some kind of shared session which it u

[2018-02-14 01:55] SidneyNemzer commented on #72
Could you please add a link to the code in question? It's difficult to guess what you might have written!

[2018-02-14 04:58] paulrobello commented on #72
Running node v9.3.0 on Windows 10 x64
I have created a repo with a project the exhibits the issue
https://github.com/paulrobello/ServerTest

[2018-02-15 03:59] franciscop commented on #72
I saw some issues in the auth plugin I am making but assumed it were strictly related to the plugin. Please let me dig deeper into this issue.

[2018-02-15 04:18] franciscop commented on #72
I can confirm that it sends the cookie on `1.0.17` but it doesn't seem to work on the `1.1.0-alpha.1`. The biggest scare (and would have been a huge security issue) though is the shared session, which does not happen on the 1.0.17 and there it separates sessions properly.

I use alphas as *very* experimental releases, specially the first ones. Normally for cross-project debugging; I'll release a n

[2018-02-15 17:01] paulrobello commented on #72
When you do an "npm install server" you get the broken alpha version. I am not sure how you mark a package as unstable in npm but i think it would be a good idea so that new users of your package dont get the broken ones.

[2018-02-15 22:27] franciscop commented on #72
Really??? Thanks for letting me know, that is certainly big cause of concern. I am reading these awful notes: https://medium.com/@mbostock/prereleases-and-npm-e778fc5e2420

I think I fixed it. It was about having `server.session` available (needed for some store hooks) AND about the default context extending `server`. So the same instance of `session` was being used for everyone. I'll publish ASAP

[2018-02-15 23:25] franciscop commented on #72
Everything should be fixed, `npm install server` installs the 1.0.x version now and the session issue seems to fixed on alpha 3. Just a regression left that @SidneyNemzer pointed out.

[2018-02-16 06:27] franciscop opened #73 "Security incident report"
## Fix

Make sure that you are using `server 1.0.x`, the stable branch. To force this, do:

[code]

## What happened?

If you installed server.js recently from scratch you have to upgrade it, since there is an issue that makes the sessions of all your users shared.

This is a two side issue:

- **Shared session**: The versions `1.1.0-alpha.1` and `1.1.0-alpha.2` have a bug that initiates no sessio

[2018-02-20 12:49] franciscop opened #74 "Improved testing"
Hi everyone, I am improving the testing, both internally and externally. If anyone wants to learn about testing let me know and I'll do a 1-on-1 helping you on your testing and gather opinions at the same time.

Now, I am thinking about this syntax, what do you think? Split into two files so one is for running the server and the other for testing it:

[code]

[code]

What do you think about this A

[2018-02-21 14:19] vorticalbox commented on #74
I wish just about to ask for this. I am trying to run tests using mocha/chai for a project i'm working on at work but I am getting

TypeError: Cannot read property 'address' of undefined

[2018-02-22 04:50] franciscop commented on #74
Hey @vorticalbox great! I am writing the [testing documentation here](https://github.com/franciscop/server/tree/plugins/docs/documentation/testing). Are you writing `server` tests with mocha/chai? Could you please share more information like the full error log? And the code where this error happens?

I am finishing a testing module that will be easy to use with any testing framework, and then docu

[2018-02-22 09:20] vorticalbox commented on #74
basically the same as you have wrote in the first one but testing my routes.

[2018-02-28 00:15] coderam opened #75 "Please make sessions work right out of the box"
I really love server.js but session are such a pain.  Can you make them super simple somehow, like:

const session = server.session;

and then anywhere you set a session value, session.name = val; it should just work without configuring a backend (use some kind of default session handling backend).

[2018-02-28 00:15] coderam commented on #75
thanks :)

[2018-02-28 01:27] coderam opened #77 "How to access ENV variables like "REMOTE_ADDR"?"
Hi Francisco,

How do you access environmental variables in a "get()" request:

it would be cool to do something like:     console.log(server.ENV.REMOTE_ADDR);

get('/', ctx => {
    console.log(server.ENV.REMOTE_ADDR);
    return redirect('/index.html');
  }),

Thanks,

[2018-02-28 01:57] SidneyNemzer commented on #77
You can use `process.env`, right?

[code]

[2018-02-28 22:12] franciscop commented on #77
Exactly, this can be easily done with `process.env.NAME_OF_VAR` as @SidneyNemzer suggests

Note that you can only access these *after* including `require('server');`, since they are being loaded there internally with dotenv. Inside the routes it'll be always okay, but on the root level you have to be a bit more careful.

[2018-02-28 22:12] #77 closed

[2018-02-28 22:16] franciscop commented on #75
Could you explain a bit more please? Sessions *should* work out of the box as you describe in the best way possible. But to work properly you need a permanent store which is not available in most Node.js deployment/workflow (like Redis) and a secret which should be manually generated (which is an indirect consequence of the previous issue).

[2018-03-01 00:10] SidneyNemzer commented on #77
Good to know!

[2018-03-01 12:18] franciscop commented on #74
Okay there seems to be two issues here:

1. `server` in your example is a Promise, so we have to make it resolve first (launch the server) and then we can do something with it.
1. Even then, we will need to access the property `app` from the resolved value (`ctx`), since that contains the express app as referenced in the Chai documentation.

Let's make it resolve first. For this, you could add a `

[2018-03-01 12:36] franciscop opened #78 "Version 1.1 roadmap"
A list of things still needed to release the much-awaited version `1.1` with plugins:

- [x] test option parser more in-depth. Specially for plugins and things like `parent`.
- [ ] make some magic for `router` and `reply` to be extensible from the plugins.
- [x] try more the testing framework. Few alpha releases needed as I find the sweet spot.
- [x] test the testing framework (lol), specially aro

[2018-03-01 12:41] #72 closed

[2018-03-02 22:08] dannluciano opened #79 "What is the best away to handler authentication middlerware?"
### Description

What is the best away to handler authentication middlerware?

I can make work with modern express middlerware.

[code]

Exists a better solution?

I try with this:

[code]

But I get a error: Error: Can't set headers after they are sent.

### System Information

**OS:** Windows 10

**Node Version:** v8.9.4

**Server.js Version:** 1.0.17

[2018-03-03 05:18] franciscop commented on #79
There is no `ctx.next()`, since by default it will call all middleware in the way unless there's an explicit error (or two different routes). So that's what you do, you work with errors a bit more freely in server.js than with express, look at [the documentation for `error()`](https://serverjs.io/documentation/router/#error-):

[code]

That will match all kind of errors, which is probably what you

[2018-03-03 22:00] dannluciano commented on #79
Nice, I like this Error solution.

[2018-03-03 22:00] #79 closed

[2018-03-04 22:32] coderam commented on #75
@franciscop shall try and test this on alpha3 as soon as my templating is restored using the new engine for templating.

[2018-03-05 12:58] vorticalbox opened #80 "Handling Files"
### Description

Documentation has very little on how to handle files other than logging out its name.

### Expected outcome

would be nice for the documentation to show about saving files or doing something with the file content.

### System Information

Windows 10 :(

**Node Version:** v8.9.4

**Server.js Version:** 1.0.18

[2018-03-06 04:59] franciscop commented on #80
hey @vorticalbox thanks for the issue! You are totally right, I was planning on writing docs at some points with this functionality. Are you using AWS or [Cloudinary](https://cloudinary.com/) by any chance? The former is the most popular and I've used the later (since they have [a generous free tier](https://cloudinary.com/pricing)), so I could start by either of those.

The most [relevant documen

[2018-03-06 06:43] coderam opened #81 "nunjucks alpha3"
### Description

[code]
[code]

[2018-03-06 08:00] vorticalbox commented on #74
This works perfectly.

[2018-03-06 08:37] #81 closed

[2018-03-06 09:31] franciscop commented on #81
This is not a support forum @coderam (nor is my email for that matter). If you have an issue that you think it's caused by server.js open an issue and I will try to fix it, but please state how to reproduce it, explain the issue, etc. Just copy/paste a bit of code that uses 3 different servers and an error message is not acceptable and that is why [there's a template](https://github.com/franciscop

[2018-03-06 23:25] coderam opened #82 "Nunjucks broken using engine = {nunjucks: } on Server.js Version server@1.1.0-alpha.3"
### Description

after running node index.js on the new server@1.1.0-alpha.3 version and attempting to use the new engine = {nunjucks: }, server.js fails with "Error: Module "nunjucks" does not provide a view engine."

The code used for nunjucks templating is essentially what your provide, I only added a "port" to the options:

[code]

I hope to eventually contribute documentation as I attempted t

[2018-03-07 00:53] bradschafer opened #83 "app.use | or express middleware examples"
Francisco,

First off.. thanks for the library.. this looks really promising.

I am having a hard time determining how I would go about using the 'use' for Express in 'server'.

I am pretty sure it's simply a syntax thing..

Working Express Example:

[code]

.....

[code]

... attempted with Serverjs

[code]

[code]
I am assuming the option **public:contentBase** works similar to the  express stat

[2018-03-07 03:32] dannluciano commented on #82
I think that you should use:
[code]

[2018-03-07 03:54] dannluciano opened #84 "Context.locals is undefined"
### Description

Server not setup ```ctx.locals```

[code]

### Expected outcome

When I access http://localhost:3000/ I should get:

```Username is: franciscop```

### Actual outcome
But when I access http://localhost:3000/ I got:

```Cannot set property 'username' of undefined```

### Live Demo

Example: https://glitch.com/edit/#!/join/17c45851-d9ac-4e98-a912-305f8e4b4dc6

### System Information

[2018-03-07 04:05] coderam commented on #82
Thanks Dann, but after using the options in server(options, [get( ... ]) the page fails to load at all.  Hoping the documentation improves on this use case (if I can get it working I shall try and volunteer that page in the docs.

[code]

_**Outcome**_

The page fails to load now.

[2018-03-07 04:24] dannluciano commented on #80
I am using [minio](https://minio.io/) for personal private S3 API like.
The best away to upload files is in the client side see this: https://docs.minio.io/docs/upload-files-from-browser-using-pre-signed-urls

Upload file for your own server only works in little cases.

[2018-03-07 04:30] dannluciano commented on #82
What is the error in Console/Terminal?

```settings.PORT``` has a number value?

[2018-03-07 04:34] coderam commented on #82
No error in the console, settings.PORT has a value without a question.

Everything was working until upgrading to the alpha3 version used in this post.  I was trying to use the DKIM feature for forms but noticed what you noticed in another issue.  ctx.locals was undefined and so was the dkim value.  I was hoping alpha3 would work, but not yet.

love only,

[2018-03-07 04:44] coderam commented on #82
When I say no error, the console just hangs without closing after running node index.js (so there is no error at all).

[2018-03-07 05:42] franciscop commented on #82
@dannluciano is right, you need a key `engine` inside options as he explained. His code seems correct, but I am worried about a bit in your code:

[code]

Just to make sure, could you share your file structure please? Where are your view files? `public` is for public assets, which `.nunjucks` are not. If your index is under `static` like `static/index.nunjucks`, then you would also have to set the

[2018-03-07 06:01] franciscop commented on #83
Hi Brad, thanks for the issue! First some tips:

## `public` [Documentation](https://serverjs.io/documentation/options/#public)

The static middleware is included by default, you just need to add the `public` option:

[code]

## `modern()` [Documentation](https://serverjs.io/documentation/#express-middleware)

Modern will apply it plainly, so no need for `ctx => modern()` (actually I think that mi

[2018-03-07 06:05] franciscop commented on #83
About the optional middleware, you cannot call server again by itself, but this issue might be useful: https://github.com/franciscop/server/issues/61

To do it with server, you can pass both null or an empty array:

[code]

[2018-03-07 06:59] coderam commented on #82
Hi @franciscop, index.nunjucks is in the "views" folder as required.  "static" is only for my ".jpg, .css, .js" files.  If you need something to test quickly, feel free to checkout the very simple "mural4peace" app I just invited you to.

[2018-03-07 08:34] franciscop commented on #82
Could you share your full entry point please? Should be `index.js` or `server.js`

[2018-03-07 09:58] coderam commented on #82
index.js

[2018-03-07 10:10] franciscop commented on #82
Could you share your full entry point **code** please? :rofl:

[2018-03-07 11:49] franciscop commented on #84
Do you happen to know if this same code worked in a previous version? If so, do you happen to know which one? I cannot find any reference in the docs to `ctx.locals` and even the internal plugin `csurf` is using `ctx.res.locals.csrf = ctx.csrf;`, so I am wondering whether this worked before at all or not.

However, I can confirm this doesn't work now and I will fix it ASAP since this **is** the ex

[2018-03-07 11:55] vorticalbox commented on #80
My service doesn't have a client side it's an api only.

[2018-03-07 12:01] franciscop commented on #80
@vorticalbox to make sure things are working so far, does this work so far? Can you see the picture name in the filesystem with something like this?

[code]

Note: you will very likely need to [disable the CSRF security](https://serverjs.io/documentation/options/#security) if you are not doing cookie-based auth (not common with APIs).

[2018-03-07 12:30] coderam commented on #82
just added a package.json file with the dependencies as follows:
"dependencies": {
    "express": "4.16.2",
    "nano": "6.4.3",
    "nunjucks": "3.1.2",
    "server": "1.1.0-alpha.3",
  }

I assume this is what you need to launch the app.  The only 2 non-obvious dependencies are "nano" and "nunjucks" -- once those are installed, simply run "node index.js"

Hope this helps.  Have a good day!!

[2018-03-07 12:32] #82 closed

[2018-03-07 12:59] coderam commented on #82
@franciscop not sure what you mean by entry point code??

[2018-03-07 13:01] coderam commented on #82
oh you mean the full index.js code :)
[code]

settings.js

var settings = {};

[code]

[2018-03-07 14:01] vorticalbox commented on #80
I can see the file name that part works, just wondering how to do things with the files the api gets.

[2018-03-07 15:57] sammychiang commented on #80
i directly handle the file by the it's path
file path is :

`ctx.req.files.voice.path  //voice is the key of the file`

then you can read the file by "fs" api of node

[2018-03-08 07:11] franciscop commented on #75
@coderam could you test this? Is this fixed?

[2018-03-08 11:43] franciscop commented on #78
I think the testing one can be ticked as well, got 100% coverage on everything :muscle: :

![100](https://user-images.githubusercontent.com/2801252/37149436-4ae22c56-2311-11e8-9ebf-ef8c07f5ecec.png)

[2018-03-09 01:20] coderam commented on #75
@franciscop as mentioned as soon as nunjucks is fixed (basically ctx.csrf and other ctx variables are not showing up so I attempted alpha3 but still not really functioning).  that issue was closed probably by mistake.  Once that is fixed I shall test sessions using one of the backends mentioned.

[2018-03-13 06:21] franciscop commented on #80
Code is ready, see screenshot:

![gallery2](https://user-images.githubusercontent.com/2801252/37325597-e0ece33a-26d1-11e8-9d67-f457830898e9.png)

Here is the repository: https://github.com/franciscop/server-tutorial-upload

I will try to clean up and finish the tutorial ASAP.

[2018-03-13 10:23] iddan commented on #32
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/24255

[2018-03-15 15:30] vorticalbox opened #85 "middleware fails to return"
### Description

when using .then and .catch the middle-ware doesn't wait and returns nothing. Using async/await works correctly

### Expected outcome

middle should wait and before returning

### Actual outcome

returns nothing

### Example

[code]

### System Information

Ubuntu 17.10

**Node Version:** v8.10.0

**Server.js Version:** 1.0.18

[2018-03-15 16:37] SidneyNemzer commented on #85
I believe you just need to return the promise from the middleware function

[code]

Also, since you aren't using `await` in that middleware function, it doesn't need to be `async`. Although I don't think it really matters.

[2018-03-15 16:59] vorticalbox commented on #85
The async was there as I copied my code I changed to await. That would make sense returning the promise

[2018-03-15 19:26] dannluciano commented on #84
Thanks @franciscop .After a little search, I cannot find any reference for ```ctx.locals``` in the source code.
I agree with you that ```ctx.locals``` are best than ```ctx.res.locals```.
I think that *express* parts have been hidden.

[2018-03-15 22:33] franciscop commented on #85
** @SidneyNemzer answer is the correct answer and the best way to solve it**; to make it wait, you have to tell server you are not done somehow. This means either returning a promise or making the whole function async/await. You might need to promisify some things if they are using callbacks:

[code]

There are a couple more patterns you *might* need at some points, but I recommend trying to avoid

[2018-03-15 22:33] #85 closed

[2018-03-15 22:56] #83 closed

[2018-03-19 22:41] franciscop commented on #80
@vorticalbox here is the draft: https://github.com/franciscop/server/tree/plugins/docs/tutorials/upload-files

[2018-03-22 06:16] franciscop commented on #84
It should be fixed in the alpha 8, could you please try it and let me know how it works?

[code]

[2018-03-24 21:45] dannluciano commented on #84
This works now.

[2018-04-01 17:13] karlll opened #87 "Failing test"
### Description

After cloning repo & `npm install`, `npm test` fails as below

[code]
### System Information

**OS:** MacOS High Sierra

**Node Version:** v9.8.0

**Server.js Version:** 1.0.18

[2018-04-02 00:06] franciscop commented on #87
Oh yeah, you'll need the `.env` for testing, forgot to set it up for those cloning the project! Please put this in your `.env`:

[code]

But note that the more advanced examples (auto-parsing) are still WIP and nowhere to be found in the docs.

[2018-04-03 06:59] karlll commented on #87
Thanks for clarifying!

[2018-04-03 09:45] franciscop commented on #87
@karlll please let me know if it works now if you test it again👌

[2018-04-06 09:07] karlll commented on #87
@franciscop - the test works when I set the environment you mentioned above.

[2018-04-06 09:07] #87 closed

[2018-04-06 18:54] karneaud opened #88 "How to stream audio files"
### Description

I'm trying to stream audio file from a route with the following

[code]

### Expected outcome

Should play/ stream audio to browser

### Actual outcome

responds with 200 but doesn't load/ play/ stream audio file

### System Information

**OS:** MacOS Docker running Ubuntu

**Node Version:** v8.9.1

**Server.js Version:** 1.0.17

[2018-04-07 07:37] franciscop commented on #88
I cannot seem to find the past issue at all, which is very strange. The problem *might* be that server will end the request with that `send()`, but I'll need further testing to confirm this since you *are* reading the whole thing in memory.

A possible alternative is to stream the file using native methods. But then you want an unterminated promise that is finished when the stream finishes. Please

[2018-04-11 21:37] Download commented on #73
My hat is off to you sir for this very honest and detailed incident report.

I have to admit I fell for the 'npm install installs alpha versions' problem as well. To make matters worse, there are actually articles out there saying that NPM is smart and does 'the right thing'... and so it does in recognizing that 1.0.0-alpha is a lower version than 1.0.0 (there are systems that do this wrong... loo

[2018-04-20 10:56] franciscop commented on #88
Found it! It was a StackOverflow question from @hollerith, not an issue in Github. That is why I couldn't find it:

https://stackoverflow.com/questions/48763494/how-to-return-a-stream-with-server-for-nodejs-serverjs-io/49382182

@karneaud let me know if that worked please and if you have any further question

[2018-04-20 13:06] karneaud commented on #88
Will try this out in a bit...thanks

[2018-04-22 18:17] karneaud opened #89 "Error: listen EADDRINUSE :::8000"
### Description

I'm using Unable to restart server using nodemon from webpack build event

my server file

[code]
### Expected outcome

Should be able to restart server from nodemon

[code]
### Actual outcome

I get the following trying to reload

nod(node:140) UnhandledPromiseRejectionWarning: Error: listen EADDRINUSE :::8000
node-serverjs |     at Server.setupListenHandle [as _listen2] (net.js:

[2018-04-23 12:01] franciscop commented on #89
@karneaud could you please upgrade to 1.0.18 and try again? Or with `1.1.0-alpha.8`? I am a at a loss since I haven't used Webpack with back-end, normally I use `nodemon`. But perhaps it might have something to do with the websockets connection. Also please try to update the timeout to `2000`?

[2018-05-03 09:26] vorticalbox opened #90 "Server Crashes in docker"
### Description

Server fails to start when run in a  docker image

### Expected outcome

Server does crash

### Actual outcome

Crashes with
[code]

### System Information

docker 1.13.1

**Node Version:** v8.10.0

**Server.js Version:** 1.0.14

[2018-05-03 10:06] vorticalbox commented on #90
turns out not a problem with ServerJs as the copying directly into a docker image works fine

[2018-05-03 16:06] franciscop commented on #90
Glad to hear. Would recommend setting `server({ parser: { json: {} } });` manually otherwise. It seems you fixed it and now I'm on holiday, if you give some more info I'll try to debug it better when I'm back.

[2018-05-05 09:45] vorticalbox opened #91 "middleware returns nothing error"
### Description

middleware returns nothing error when following the real time chat tut.

[code]

I see the chat and it all works just super annoying to get that error every single time someone joins or refreshes the page

### System Information

**OS:** windows 10

**Node Version:** v8.9.1

**Server.js Version:** 1.0.14

[2018-05-05 15:38] #90 closed

[2018-05-25 01:31] franciscop commented on #89
@karneaud did it work on either `1.0.18` or `1.1.0-alpha.8`?

[2018-05-30 14:44] gary149 opened #92 "Warning - Some middleware threw an error that was not handled properly"
Code to reproduce:
[code]
I dont understand why i'm getting this warning i dont throw any error.

[code]

[2018-06-07 00:07] karneaud commented on #89
I'm reopening this issue as I may have been incorrect with my last statement. I'm having some problem using the nodemon package to restart the server. Let it be noted that I am using sockets. Think I read somewhere that there are issues with this scenario when using sockets?? Can you confirm? Is there a workaround?

[2018-06-07 00:54] #89 closed

[2018-06-07 00:54] karneaud commented on #89
turns out this issue was caused more so by `nodemon`.....using another library resolved the issue

[2018-06-13 19:58] thetre97 commented on #92
That is just a generic info message - It is telling how you can create a 'route' which will handle any serverjs errors. The actual error message is `Some middleware threw an error that was not handled properly.` and as you haven't created an error route, it is telling you how you can do that.

You are getting that warning as you are trying to send two replies to one request? It will fail at the se

[2018-06-13 22:20] franciscop commented on #92
I think showing first the actual error, and then a *furthermore, that error was not handled properly [...]* would be much better than showing the wrapping error.

[2018-06-14 11:10] thetre97 commented on #92
Something like #93 ?

[2018-06-14 11:55] franciscop commented on #92
I have had few months to think about the whole error bit. Initially I took inspiration from React, where errors are normally clear and on-point. However, in server.js many of the errors are just extra verbose without adding much value (I know because people keep opening these kind of issues), like this issue.

Instead, the error that OP got should have been something like this:

[code]

[2018-06-14 14:37] karneaud opened #94 "Testing socket with run.js"
**What are you trying to do?**
I'm trying to run tests with socket() and run.js

**Ask your question**
Most of your test involve using standard http routes I'm trying to figure out how to use it with run. Do I use socket.io to emit or does run have utilities for it?

**Environment (optional):**
 - OS: Linux
 - Node.js: 9
 - Server.js: 1.1.0

**Additional context (optional)**
[code]

[2018-06-14 16:21] franciscop commented on #94
It is not so easy; for the http methods, the workflow is request => response. However for websockets it's bidirectional communication, so any side could start it.

Have a look at `socket.io tests` for the alpha version: https://github.com/franciscop/server/blob/plugins/plugins/socket/integration.test.js:

[code]

Things to note:

- I am connecting manually using the port for this test (which gets

[2018-06-14 16:21] #94 closed

[2018-06-14 16:23] franciscop commented on #94
*If* you are using the alphas, please make sure to update; there hasn't been any `run.js` for a while, now it's this workflow:

[code]

[2018-06-14 16:32] #73 closed

[2018-06-14 21:16] karneaud commented on #94
@franciscop I tried updating. Now realise there is no run.js. Is it easier with the new versions? Kinda want to stick to these earlier version until you are more stable

[2018-06-15 18:20] karneaud opened #96 "Setting env options in test()"
**What are you trying to do?**
I'm trying to run async tests for routes and sockets using require("server/test/')

**Ask your question**
when running tests can I set env options?

**Environment (optional):**
 - OS: Linux
 - Node.js: 9
 - Server.js: 1.1.0.-alpha.9

**Additional context (optional)**
[code]

[2018-06-24 04:33] #92 closed

[2018-06-24 04:33] #84 closed

[2018-06-24 04:33] #80 closed

[2018-06-24 04:36] franciscop commented on #94
Sorry for not answering before; both `run.js` and `test.js` are not part of the stable releases. Only the documented code should be considered stable. I am trying to get it somewhere stable where you can test it, but so far there is no official testing suite. You can always run the server and launch requests to it, or test your individual handlers, but there is no official solution for the exact c

[2018-06-29 19:02] #96 closed

[2018-07-13 19:35] karneaud opened #98 "ERROR { TypeError: Cannot read property 'headersSent' of undefined"
**What are you trying to do?**
Trying to test the following controller with socket method callbacks

controller socket methods

[code]

**Have you tried this first?**

- [x] Try to find an answer by reading [the documentation](https://serverjs.io/documentation/) and [tutorials](https://serverjs.io/tutorials/).
- [x] Try to find an answer by searching [previous Github issues](https://github.com/fra

[2018-07-13 20:30] karneaud commented on #98
figured it out! please delete this issue

[2018-07-13 20:30] #98 closed

[2018-07-20 17:19] karneaud opened #99 "using 3rd party socket framework"
Is there anyway I can use a 3rd party socket framework either on top of or as a replacement for the abstract layer you provide?

[2018-07-26 18:15] sant123 commented on #32
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/27579

PR merged.

[2018-07-26 18:16] sant123 commented on #32
This issue can now be closed.

[2018-07-27 00:58] #32 closed

[2018-09-14 01:58] Immortalin opened #100 "Change static file server prefix"
How do you change the prefix of the static file path from "/"?

[2018-09-14 10:11] franciscop commented on #100
You could create a folder inside `public` with the name you want. Example: for `/demo` create the folder `public` and inside it the folder `demo`. Then the URL `/demo/a.jpg` will point correctly to the path `./public/demo/a.jpg`.

For the other way around you can use the option `public` to select what folder to consider the root.

There is no equivalent to express' `app.use('/path', express.static

[2018-09-14 10:11] #100 closed

[2018-09-23 14:16] #88 closed

[2018-09-23 14:21] karneaud opened #101 "Access route parameters in Pug"
I have a route as follows

[code]

where **id** is the route's parameter. how is the data instantiated in the render function for the view?

[2018-10-10 03:52] foi opened #102 "ctx.body/data is an empty when client headers equals Content-Type': 'text/xml; charset="utf-8""
HI @franciscop!
I've tried to receive xml body with headers Content-Type': 'text/xml; charset="utf-8" but body is an empty. Without this headers - works as expected. I can't modify or erase headers on client side because client is another company service. **And the question is:** How to receive body/data with this headers?

server-side code
[code]
demo client.js
[code]
raw http request without hea

[2018-10-11 07:12] devsumanmdn opened #103 "Does it supports http/2?"
As http/2 is stable now, is it already supported or what is the releasing plan?

[2018-11-18 08:58] Astrydax opened #104 "oauth2 POST to external site"
**What are you trying to do?**
I'm trying to implement windows live authentication. The only reason I need this is to validate users gamertags they use on XBL. To do this I need to send a post request to an external site. I can't find functionality on how to do this with server.js

[2018-11-18 09:41] franciscop commented on #104
I am sorry but Server is not made to send external requests, only to receive requests as servers normally do. You might want to look into the packages `got`, `request`, etc.

[2018-11-18 09:41] #104 closed

[2018-11-29 20:21] paulrobello opened #105 "including CORS middleware does not effect socket.io"
server version 1.0.18
socket.io version ^2.2.0

**Server code snippet:**
server(serverOpts, [
      server.utils.modern(cors(corsOptions)),
      socket('connect', connect)
]);
when socket.io on the client side does long polling, server.js is not using my custom cors options to mirror origin, it just sends allow *

**Browser Log:**
Access to XMLHttpRequest at 'http://localhost:1977/socket.io/?EIO=

[2018-11-29 21:41] paulrobello commented on #105
Issue seems to be with socket.io 2.2.0, it works fine with socket.io 2.1.0

[2018-11-29 21:46] paulrobello opened #106 "socket.io-client with only websocket transport blows up server.js session module"
server version 1.0.18
socket.io version 2.1.0

**browser client:**
io('localhost:1977', {transports: ['websocket']})

**server.js exception TypeError: argument res is required**
TypeError: argument res is required
    at onHeaders (.\node_modules\on-headers\index.js:25:11)
    at session (.\node_modules\express-session\index.js:219:5)
    at Array.<anonymous> (.\node_modules\server\plugins\session

[2018-11-30 11:33] franciscop commented on #105
Hi @paulrobello, I do not have the bandwidth to look into this. Could you find the origin of the issue? Would you be able to do a PR?

If it's a socket.io issue, could you look into notifying them?

[2018-11-30 12:30] franciscop commented on #103
No, sorry, there are no plans to support http/2 in the near future. PR are welcome though.

[2018-11-30 12:30] #103 closed

[2018-11-30 12:34] franciscop commented on #102
Hi @foi, sorry I didn't answer before. I do not have the bandwidth to look into this, if you could find the issue please feel free to send a PR.

[2018-11-30 12:34] #102 closed

[2018-11-30 12:37] franciscop commented on #101
You need to extract it from `ctx.params.id` like:

[code]

See these docs:

https://serverjs.io/documentation/context/#-params

[2018-11-30 12:37] #101 closed

[2018-12-03 22:31] paulrobello commented on #105
It appears to be an issue with engine.io used by socket.io.
Closing issue.

[2018-12-03 22:31] #105 closed

[2019-01-17 10:23] thailan opened #107 "is this project still ongoing?"

[2019-01-17 11:21] franciscop commented on #107
Yes, in low-maintenance mode; PR fixing bugs are welcome :)

I am thinking about closing the "issues" tab so there's no confussion here.

Unfortunately 1.1 or 2.0 is a no-go now, but 1.0 works great 🎉

[2019-01-17 11:21] #107 closed

[2019-01-24 13:28] zilahir opened #108 "server crashes when cors is added"
**Describe the bug**
Passing `const cors` as an argument to `server` and sending a `post`method to the defined endpoint, throws `internal server error` and, `middleware` error on the `console`

**To Reproduce**
Steps to reproduce the behavior:
1. `npm i server`
2. `touch index.js`
3. Add this

[code]

4` node index.js`
5. Send a post request to: `http://localhost:8080/demo`

**Expected behavior**

[2019-01-24 13:58] franciscop commented on #108
Hey thanks for the report with the code, do you have the error output?

[2019-01-24 21:19] SidneyNemzer commented on #108
That error is unrelated to CORS, it's complaining that the /demo route didn't return any data to the client

[2019-01-25 02:53] franciscop commented on #108
I didn't notice that in my first read, but that seems to be the case. There are two issues though:

- The error is not clear enough. I think adding the path and method would be much more clear, like `The POST /demo request did not return anything`.
- I believe that example is right in the documentation.

[2019-03-02 02:45] justinpage opened #109 "Support HEAD request method"
**What are you trying to do?**
We use New Relic for monitoring our applications. I noticed that HEAD request to our application fails. What is the easiest path in supporting HEAD request. My understanding is that express supports HEAD by means of GET but maybe with this package, we have to be more explicit

**Ask your question**
How do we support HEAD request to the root of our application. Do we

[2019-03-02 15:28] franciscop commented on #109
That sounds about right [from the source code](https://github.com/franciscop/server/blob/master/src/join/index.js#L7) 👌

Please let me know if you have any issues with this, I'll leave it open for a couple of days

[2019-03-17 12:45] byalpcngz opened #110 "Socket.use method"
Hello there
my problem is related to socket
I'm using user socket with extraheaders when using socket I can do this with the io.use method and I can disconnect the socket, but I could not do that with server.js

io.use((socket, next) => {
  let clientId = socket.handshake.headers['x-clientid'];
  if ( clientId === process.env.CLIENTID) {
    return next();
  }
  return next(new Error('authenticati

[2019-03-31 03:56] justinpage opened #112 "Using custom types for NODE_ENV"
**What are you trying to do?**
We would like to use custom names for NODE_ENV.

Instead of forcing us to choose the following:

- development
- test
- production

We would like to use our company's naming convention:
- develop
- staging
- preprod
- production

**Ask your question**
Is there a way to use our own naming convention when defining NODE_ENV? According to the documentation, it can only b

[2019-03-31 06:32] franciscop commented on #112
The names server.js is using are common in many different projects and environments across Node.js:

- https://dzone.com/articles/what-you-should-know-about-node-env
- https://stackoverflow.com/a/16979503
- https://devcenter.heroku.com/changelog-items/688

If you use your own naming conventions some 3rd party tools might not work as expected. It's also easy to type `testing` instead of `test` for

[2019-03-31 06:32] #112 closed

[2019-03-31 06:33] franciscop commented on #110
Hi, thanks for the question. The issues tab in Github are reserved for issues about the library or talking about the library itself, not as a general support forum for any question that involves this library.

[Javascript in Reddit](https://www.reddit.com/r/javascript/) might be of help. If you have any more specific issue after trying some solutions, [https://stackoverflow.com/](StackOverflow) mi

[2019-03-31 06:33] #110 closed

[2019-03-31 06:34] #109 closed

[2019-04-06 16:40] LucasMonteiro1 opened #113 "How to use morgan on server?"
I tried

[code]
and
[code]
and
[code]

After installing the morgan dependency, I changed the file `server/plugins/express/index.js`, after the line `ctx.app = ctx.express();` added `ctx.app.use(morgan('tiny'));` and it worked.

[2019-04-07 03:16] franciscop commented on #113
Have a look at [Express Middleware](https://serverjs.io/documentation/#express-middleware), have you tried something like this?

[code]

[2019-04-07 10:54] LucasMonteiro1 commented on #113
It worked using the middleware. Thank you for your help!!

[2019-04-07 10:54] #113 closed

[2019-04-08 06:03] franciscop commented on #113
Happy to help :)

[2019-05-07 08:52] elieobeid7 opened #115 "How big can it scale?"
On the website it says that the project is suitable for small to medium size projects.

- How many concurrent users does that mean?
- Is it possible to scale it up easily?
- Is anyone using it in production?

[2019-05-07 08:56] elieobeid7 opened #116 "How to use anything other than auth0?"
I don't like the idea for paying for something as silly as authentication, especially when one could implement passportjs or firebase authentication in seconds. Therefore I don't want to use auth0, how to change it?

[2019-05-07 12:06] franciscop commented on #116
There's nothing about Auth0 integrated, they were gonna sponsor at some point so I added their logo, but the conversation died in the end.

[2019-05-07 12:06] #116 closed

[2019-05-07 16:35] sw-yx commented on #116
"implement passportjs in seconds" come on... have you tried implementing passportjs well? lol

[2019-05-07 16:40] vorticalbox commented on #115
So the amount of users it can handle is based mostly on your code.

When your JavaScript is running the event loop isn't so if you have routes that use up a lot of CPU time the latency will increase for all other requests.

If a route has blocking code such as a for loop that loops lots of items from a dB and takes 1 second to complete any other requests will have to wait at least 1 s.

The trick

[2019-05-07 19:22] elieobeid7 commented on #116
Why would I want to even implement passport if I could implement firebase? It was just an example on top of my head, why pay for db when firebase is free and even better than passport.

[2019-05-07 19:26] sw-yx commented on #116
https://finance.yahoo.com/quote/OKTA/

[2019-05-07 19:31] elieobeid7 commented on #115
Thank you so much.

[2019-05-07 19:31] #115 closed

[2019-05-07 19:37] elieobeid7 commented on #116
https://finance.yahoo.com/quote/OKe

[2019-05-08 02:00] franciscop commented on #115
- How many concurrent users does that mean?

This normally depends on your code more than the framework itself. If I remember correctly, last time I checked in my laptop server.js could handle 8-10k rps, but it was just a sanity check and not a proper benchmark. In contrast, with a similar test, express.js could take 12-13k rps and the raw Node.js 18-20k rps.

- Is it possible to scale it up easil

[2019-05-17 22:47] elieobeid7 opened #117 "parser.parsingHeadersStart = nowDate();"
Trying to run websockets example here, just copying and pasting

https://github.com/franciscop/server/tree/master/examples/websocket

I get

[code]

[2019-05-28 00:29] elieobeid7 commented on #117
This project is dead, closing the issue, use another project like uwebsocketsjs or whatever

[2019-05-28 00:29] #117 closed

[2019-06-13 18:41] AdamCollins opened #118 "When trying to render page I get ERROR { Error: Your middleware did not return anything to the user. This normally happens when no route was matched or if the router did not reply with anything."
I am trying to render a simple EJS page(currently doesn't contain any variables) when a user goes to the route directory. The page _does_ render but I get the warning in my title.
[code]
From reading this issue[here](https://github.com/franciscop/server/issues/92) I thought I may be missing some sort of error handling so I tried adding
[code]
to my ``server`` function but with no prevail.

Also, I

[2019-06-14 08:22] franciscop commented on #118
Thanks for the complete bug report, I'll try to reproduce later. This does seems like a server.js bug.

[2019-06-14 10:45] franciscop commented on #118
Hi @AdamCollins, unfortunately I couldn't reproduce the issue and it works fine for me. Could you please put your `package.json` and copy/paste the full error? I suspect one of these 3 issues might be happening:

- EJS is not installed ([it has to be installed manually](https://serverjs.io/documentation/reply/#render-)) -> `npm install ejs`. This will make the route throw an error, so it will not

[2019-06-14 10:47] franciscop commented on #118
BTW I strongly believe it is the 3rd option of the browser asking for a resource that cannot be found, because it's the only one that would account for the situation you are seeing that `server(get(ctx => ...))` does not work but `server(ctx => ...)` works.

[2019-06-14 18:49] AdamCollins commented on #118
The issue was option 3. After adding the references to the public folder the warning disappears.
Thank you!

[2019-06-14 18:49] #118 closed

[2019-06-15 07:05] franciscop commented on #118
Hey @AdamCollins, so I also went ahead and just published `1.0.19` fixing the issue on server.js side. Now the error message will be much more clear like this:

[code]

Please feel free to open any other issue you find 😄

[2019-06-15 07:07] franciscop commented on #108
I released `1.0.19` which should make things a lot more clear:

[code]

[2019-06-15 07:07] #108 closed

[2019-06-15 07:17] franciscop commented on #91
I changed the error message to allow for easily debug this issue:

[code]

This way you can see if there's a missing `favicon.ico` or similar being requested.

[2019-06-15 07:17] #91 closed

[2019-06-15 07:21] franciscop commented on #75
This seems to be a non-issue? Not sure why/how it was an issue initially, but would need more code or better explanation to reproduce.

[2019-06-15 07:21] #75 closed

[2019-06-15 07:23] franciscop commented on #78
So... version 1.1 never happened, and my life priorities changed along the way. I will try my best to keep supporting `1.0.x`, and I use that version continuously, but right now I don't have the time/energy to move a project of this size into 1.1 or 2.0.

[2019-06-15 07:23] #78 closed

[2019-06-15 07:24] #106 closed

[2019-06-15 07:24] #74 closed

[2019-06-15 16:18] SidneyNemzer commented on #78
Totally understandable, I really appreciate the time you've dedicated so far!

[2019-06-17 09:53] shamsheer7 commented on #89
Try this:
1 - killall -9 node
2 - ps ax

[2019-08-03 05:36] dr0id007 opened #120 "Improve the UI of the documentation site"
Would like to improve the UI of the documentation site https://serverjs.io/ .

[2019-08-03 17:35] franciscop commented on #120
Sure, how would you like to improve it? 😄

[2019-09-28 03:03] franciscop commented on #99
Sorry this issue is very old and I don't think you'll find it useful anymore, but for anyone coming afterwards.

Yes, you can disable the current socket implementation by passing the option `socket: false`:

[code]

The same [applies to any of the internal plugins](https://github.com/franciscop/server/tree/master/plugins), to load the plugins we are going first through the plugins options, which d

[2019-09-28 03:03] #99 closed

[2019-09-28 03:05] franciscop commented on #120
I made the font size a bit more consistent for the code. Please feel free to add suggestions as new issues.

[2019-09-28 03:05] #120 closed

[2019-11-26 23:02] fazelit opened #122 "throw new TypeError('argument res is required')"
[code]

[code]

[2019-11-29 00:51] franciscop commented on #122
Thanks for the bug report! I'll review it this weekend.

[2019-11-30 10:08] #122 closed

[2019-11-30 10:11] franciscop commented on #122
Hi @fazelit , I cannot seem to reproduce this, but digging through the web it seems like [this is a problem with missing request/res in socket.io](https://github.com/socketio/socket.io/issues/2971) so I just added that code which hopefully fixes it. Could you please try installing `server@1.0.21`? Feel free to reopen/open a new issue if it still fails :)

[code]

[2020-02-17 21:17] jazzyjeff5 opened #123 "How to configure socket.io?"
Sorry if this is explained in the documentation, I couldn't find it.
ServerJS uses socket.io to handle websockets, right?

I need to configure maxHttpBufferSize to limit huge messages from being sent to my server, see:

https://socket.io/docs/server-api/

How do I set this parameter through ServerJS? Thanks!

[2020-02-18 00:20] franciscop commented on #123
Woah, that seems to be not documented at all! Thanks for the issue.

socket.io is [implemented as a plugin](https://github.com/franciscop/server/blob/master/plugins/socket/index.js), which means that you might think this would work:

[code]

Unfortunately options are not passed to the socket.io constructor currently:

[code]

Let me try to fix this

[2020-02-18 00:59] franciscop commented on #123
It should be fixed now if you upgrade to the latest `server` 🎉

Could you please try it and let me know? [See the example](https://github.com/franciscop/server/blob/master/examples/websocket/index.js) for some reference.

[2020-02-18 10:47] jazzyjeff5 commented on #123
Works, thank you very much :D

[2020-02-18 12:36] franciscop commented on #123
So happy to hear 🎉

Please let me know if you find any other issue. I'll leave this open until I can document the option later

[2020-02-25 09:39] dolphin4ik opened #125 "TypeScript"
Any typescript?

[2020-02-25 14:20] franciscop commented on #125
I believe [someone made typescript definitions here](https://github.com/franciscop/server/issues/32).

[2020-02-26 14:52] franciscop commented on #123
Added some basic docs to the website:

[**Socket Options**](https://serverjs.io/documentation/options/#socket)

Please feel free to improve them! Documentation for this is here:

[**Options documentation**](https://github.com/franciscop/server/blob/master/docs/documentation/options/README.md)

What value did you end up using for `maxHttpBufferSize`? That sounds like a good example for the docs.

[2020-02-26 14:52] #123 closed

[2020-02-28 02:49] #125 closed

[2020-06-26 05:57] gramliu opened #127 "Handling file uploads with multipart/form-data POST requests"
**What are you trying to do?**
I'm sending form data through a POST request. This contains some text fields and a field containing binary file data but this sends an error when body parsing.

**Have you tried this first?**
Since server is maintained mainly only by [Francisco Presencia](https://francisco.io/), it is recommended that you try to fix the problem on your own before asking a question. B

[2020-06-26 14:29] franciscop commented on #127
This should work, so there is definitely a bug somewhere, thanks for filling this issue! To try to debug it, let me ask a couple of questions:
- What is the size of the file? I've only tried it with up to few MB
- What is the exact error that you are seeing? Could you copy/paste it please?
- Do you use a form on the front-end to send it? If so, could you share the form code please?
- What is your

[2020-06-26 18:52] gramliu commented on #127
The file is only 485KB.

[code]

I'm encoding the data using the [form-data](https://www.npmjs.com/package/form-data) library and sending the request with Axios.
[code]

v14.3.0

[2020-06-26 20:57] franciscop commented on #127
Ah interesting, thanks. It seems fairly clear to me what the issue is, but fixing it could break things so I'll need to be testing the changes quite a bit. I'll be posting updates here.

[2020-06-27 06:50] franciscop commented on #127
Hi @gramliu, turns out it wasn't so clear and I've been unable to reproduce this, no matter what I throw at it. Could you please try cloning and testing [this repository I prepared please](https://github.com/franciscop/server-bug127)? Let me know if you see the same error with that code, or any other error.

Also, what is the output of `console.log(datatype, data)` before you do `axios.post(server

[2020-07-18 07:52] franciscop commented on #127
Without some follow up info here I won't be able to help

[2020-07-28 17:20] EvanHahn opened #128 "Upgrading Helmet to the next major version"
I'm the maintainer of Helmet. I plan to release the next major version this Sunday, 2020-08-22.

Is there anything I can do to help get this project upgraded to `helmet@4`?

If you'd like to try out the release candidate now, you can install it with `npm install helmet@next`. If you'd rather discuss things outside of this issue, feel free to [reach out to me](https://evanhahn.com/contact) another

[2020-07-28 22:01] franciscop commented on #128
Hi @EvanHahn, thank you so much for reaching out! Should I expect some security issue alongside which might force a quick release, or is it just a routine release? Is this a breaking change as the major version seems to indicate? Even if it's a breaking change, depending on the defaults of Server.js it might still be non-breaking, so would love to read a bit about the changes. [Is v4 the "Unreleas

[2020-07-28 22:11] EvanHahn commented on #128
At a high level: Helmet 4 changes some defaults and removes some deprecated middlewares and options. There's a minor security boost for old browsers with the `X-XSS-Protection` header.

You can see more detail in https://github.com/helmetjs/helmet/pull/197.

I'm happy to figure out whether this is a breaking change for you if helpful!

[2020-10-08 08:28] akkigeek opened #129 "How to configure https server ?"

[2020-10-09 08:53] franciscop commented on #129
Could you please explain your situation and provide more information please?

[2020-10-09 08:54] franciscop commented on #127
Closing as inactive

[2020-10-09 08:54] #127 closed

[2020-10-12 23:01] #129 closed

[2020-10-12 23:03] franciscop commented on #129
Github Issues is to report bugs, ask for features, etc. but not for general support. Please feel free to open an issue under those circumstances.

[2020-11-05 19:13] cglacet opened #130 "How to create, set a name and send a file dynamically create"
## Context

This not a real issue. I found the answer on the way of writing it, but I decided to still create this issue in case others may have the same question and to add some remarks:

* I think the documentation should include clearly that this is a wrapper around express, because reading the code is very hard without that knowledge (I searched for quite a while a function that was outside yo

[2020-11-05 19:13] cglacet commented on #130
The solution seems to not be available directly via the API proposed. On the other hand I noticed that [express](https://expressjs.com/) what used internally and I managed to find a solution accessing the express instance directly:

[code]

[2020-11-05 19:13] #130 closed

[2020-11-06 14:42] franciscop commented on #130
Hi @cglacet , thank you so much for bringing this up and creating an issue! These kind of examples are great to make the examples collection more complete, please feel free to bring up any similar future issue like this even before you solve it if you want some help.

I [just added an example](https://github.com/franciscop/server/blob/master/examples/download-pdf/index.js) on how to do this with s

[2020-11-06 18:20] cglacet commented on #130
Thanks for the cleaner version (that's better because if you happen to not use express anymore that will still work). In my case I wanted to have it without the download prompt.

I think I started from the `download` implementation (in your source code), then I found that using `send` + `Buffer` was a solution. I struggled understanding the `ctx.res` (I had no idea where `res` came from and where

[2020-11-07 05:07] franciscop commented on #130
Hey thanks again for such an in-depth answer! That website looks great and I'm happy you found `server` useful.

In python is this:

[code]

I considered something like this for Javascript:

[code]

But then that makes it non-intuitive for the options. Maybe something like this actually makes more sense:

[code]

I still find that this has the problem that if you have many routes and want to split

[2020-11-07 11:53] cglacet commented on #130
In python, the following:

[code]

Is only a shortcut for:

[code]

So, in a sense, yes its the same as (on the other hand having anonymous, ie. lambdas, functions maybe is more painful to debug?):

[code]

An alternative they offer for fastAPI is this (which avoids having a very complex constructor):

[code]

I personally find both very similar as a user. But what you suggest is implemented in fa

[2020-11-07 12:02] cglacet commented on #130
I haven't completely answered your question on decorators.

[code]

Is actually the same as:

[code]

Which is not exactly similar to:

[code]

But I think currying the decorator only makes sense because of how it's used in python (with `@`). In your case I feel it wouldn't makes much sense to offer this interface:

[code]

So your proposition was the best I could think of using my current underst

[2020-11-07 12:34] cglacet commented on #130
Would something like this be possible?

[code]

[2020-11-07 12:47] cglacet commented on #130
I tried this on my small toy example and it looks like this:

[code]

I havent used the lambda because I still have no idea if its a problem to debug with lambdas. What do you think of this?

[2020-11-08 11:12] franciscop commented on #130
So I did consider that and other designs, but decided to go with the current one. You are free to do a wrapper like that, but I think it's valuable to have a single interface to document and use and that having two very different interfaces would reduce and not increase value for this library. I don't think there's a single "ideal" design here, so I had to pick and I find the current design to sca

[2021-04-23 14:28] franciscop commented on #128
Sorry I don't have the time/energy to do this right now, might revisit in the future

[2021-04-23 14:28] #128 closed

[2021-05-04 01:34] Darkle opened #132 "Basic usage example in docs is incorrect"
**Describe the bug**
The example shown in https://serverjs.io/documentation/#basic-usage is incorrect. The status() call needs a .end() on it, otherwise it times out.

**To Reproduce**
Running the following code:
[code]
And then going to http://localhost:3000 the web page times out.

**Expected behavior**
The web page should not time out.

I believe the status() call needs a .end on it:
[code]

[2021-05-05 11:35] franciscop commented on #132
Thank you for the bug report! This is indeed a code bug, not a documentation bug. When doing `get(() => status(404))` the internal variable `ctx.req.solved` is set to `true` even if it hasn't been truly resolved. This is done on purpose to avoid unintended cascading effects (e.g. `get('/about')` and then `get('/:userId')` both being called on `/about`).

The fix is here, would love a PR review if

[2021-05-06 14:48] franciscop commented on #132
Fixed on v1.0.33 🎉

[2021-05-06 14:48] #132 closed

[2021-06-01 04:34] dpaschal7 opened #134 "Issues running cookie test code"
I can't seem to run the [cookie](https://serverjs.io/documentation/reply/#cookie-) test code.

Here's my package.json

[code]

I keep getting a ReferenceError for `run` what other dependencies are missing

[2021-06-01 18:52] SidneyNemzer commented on #134
I think you may need to import `run` like this:

[code]

I found this in [one of the test files](https://github.com/franciscop/server/blob/master/test/examples.test.js#L47).

[2021-06-02 07:33] franciscop commented on #134
Thanks for opening an issue, certainly testing is well under-documented so I'll try to explain the basics in this issue. I would not recommend using `run` at all for your own tests; it's here for internal tests and definitely nowhere near stable. Instead, use some 3rd party testing library like [`supertest`](https://www.npmjs.com/package/supertest):

[code]

Your test file (need to `npm install su

[2021-06-02 07:35] franciscop commented on #134
I added this code as a working example:

https://github.com/franciscop/server/tree/master/examples/supertest

[2021-06-02 07:53] franciscop commented on #134
Improved docs for Cookies as well 😄

https://serverjs.io/documentation/reply/#cookie-

Please let me know if you have any further question/issue, @dpaschal7!

[2021-06-15 03:13] ngocdtph03070 opened #136 "Bug method POST vs PUT is not working"
I use postman send request test api but all api has method post or put is not working only run method get

[2021-06-15 03:40] #136 closed

[2021-06-16 03:45] ngocdtph03070 opened #137 "How integrat ApolloGraphql use serverjs"
Hi you. Can I integrate ApolloGraphql use project?

[2021-06-16 06:15] franciscop commented on #137
Yes.

That said, this is an Issue tracker not a forum nor a chat. Please have a look at https://www.apollographql.com/docs/apollo-server/ and if you find any specific issue in Server.js feel free to open an Issue explaining the issue and showing the code. You can also use the [Discussions](https://github.com/franciscop/server/discussions) for more general questions, but still should be Server.js o

[2021-06-16 06:15] #137 closed

[2021-06-16 06:17] franciscop commented on #134
This seems to be fixed, or at least it's been answered. Please feel free to reopen if you still have an issue here or to create a new issue asking more questions. Cheers!

[2021-06-16 06:17] #134 closed

[2021-07-28 09:41] lantica opened #139 "Any schedule for migrating to socket.io 4.x?"
The socket.io using now is v 2.x, which means client using v3.x / 4.x will not be able to connect.
I would like to know is there any plan for updating it?

[2021-08-05 13:03] franciscop commented on #139
Sorry no plans at the moment for that, do versions 3.x and 4.x totally break backwards compatibility?

[2021-08-10 03:40] lantica commented on #139
Yes, there is backward compatibility for both v3.x and v4.x server to v2.x client.
However, an option (`allowEIO3: true`) will be required in order for the backward compatibility.

[2021-09-17 12:17] mindplay-dk commented on #71
What's the status on this one?

I just discovered server.js and immediately loved the elegant, minimal API - looks perfect for testing on my project, and frankly I'd prefer not to mess around with `express`, either by itself, or by breaking into the implementation details of server.js.

I looked everywhere in the manual for some way to stop a server - but `context.close()` remains undocumented 3 y

[2021-09-18 04:07] franciscop commented on #71
So I had big plans for Server.js (large overhauls, big plugin system) but then started working fulltime in a demanding job so now it's in maintenance[1]. Everything there should work, but I'm not rewriting/making large changes to it for the time being. I still do [some experiments](https://www.npmjs.com/package/@server/auth) from time to time.

One large issue with server.js is that I never though

[2021-12-03 00:35] franciscop opened #140 "Heroku wrong IP"
**Describe the bug**
The described way of obtaining the IP is through `ctx.ip`, but in Heroku (and possibly others) this is returning an internal IP, and not the user IP as expected. Instead, server.js should use [`ctx.headers["x-forwarded-for"]`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Forwarded-For) to correctly find the IP when possible, since it's a "de-facto standard".

**

[2021-12-03 01:04] franciscop commented on #140
Fixed 👍

[2021-12-03 01:04] #140 closed

[2021-12-03 03:40] SidneyNemzer commented on #140
Note that clients can also set the header, potentially allowing clients to spoof their IP.

By default, Express ignores the header, but the server can opt-in to parse it using `app.set('trust proxy')`. [(docs)](https://expressjs.com/en/4x/api.html#app.settings.table)

[2022-01-18 04:24] franciscop opened #141 "Add CORS package to the core"
**Is your feature request related to a problem? Please describe.**
One of the basic features of APIs is to be able to work nicely with CORS. This is not possible with Server.js, and instead you need to [either install a third party package or do it manually](https://serverjs.io/documentation/#cors).

**Describe the solution you'd like**
Have the `cors` package be a part of the core. It should be d

[2022-10-09 13:12] kinostl commented on #139
#144 updated this to 4.5

[2022-10-09 13:30] franciscop commented on #139
Thanks! I guess we can close this now :)

[2022-10-09 13:30] #139 closed

[2022-10-09 13:30] franciscop commented on #139
Note: not released yet, will be released within a couple of days

[2022-10-09 20:30] kinostl opened #145 "Change csurf to something maintained"
**Is your feature request related to a problem? Please describe.**
Server still uses csurf, which has officially been deprecated.

**Describe the solution you'd like**
Swap to something maintained.

**Describe alternatives you've considered**
NPM Searching suggests that [csrf-csrf](https://www.npmjs.com/package/csrf-csrf) or [tiny-csrf](https://www.npmjs.com/package/tiny-csrf) might be good altern

[2022-10-09 20:33] kinostl opened #146 "Update formidable"
**Is your feature request related to a problem? Please describe.**
NPM Recommends updating formidable to v2 or v3.

**Describe the solution you'd like**
Update formidable. Going for v3 might be a good idea.

**Additional context**
`npm WARN deprecated formidable@1.2.6: Please upgrade to latest, formidable@v2 or formidable@v3! Check these notes: https://bit.ly/2ZEqIau`

[2022-10-10 08:07] franciscop commented on #145
It seems there's nothing wrong with the module itself, the maintainer just got tired of false security reports:

I certainly trust CSURF more [than an avatar-user package created from someone 3 days ago](https://www.npmjs.com/~valexandersaulys) that is their only package so far. So I think it's better to leave it there for now, unless there's some actual security issue going on.

[2022-10-10 08:07] #145 closed